src.1/flows/Accounting_Review_Case_Creation_Flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Does_this_user_have_a_Manager</name>
        <label>Does this user have a Manager</label>
        <locationX>169</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>Does not have a manager</defaultConnectorLabel>
        <rules>
            <name>Does_have_a_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varManagerID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Opportunity_or_Case</targetReference>
            </connector>
            <label>Does have a manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_or_Case</name>
        <label>Opportunity or Case</label>
        <locationX>182</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Create_Accounting_Review_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOptyID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Accounting_Review_Case</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Creates a review case for the Accounting Department</description>
    <label>Accounting Review Case Creation Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Accounting_Review_Case</name>
        <label>Create Accounting Review Case</label>
        <locationX>131</locationX>
        <locationY>404</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review {!varSubjectToReview}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Accounting_Review_Case_0</name>
        <label>Create Accounting Review Case</label>
        <locationX>300</locationX>
        <locationY>406</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varManagerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review {!varSubjectToReview}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Manager_ID</name>
        <label>Lookup Manager ID</label>
        <locationX>168</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_user_have_a_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varManagerID</assignToReference>
            <field>DelegatedApproverId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Manager_ID</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubjectToReview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
