src.1/flows/Account_Billing_Email_Update-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>613</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Email</targetReference>
        </connector>
    </assignments>
    <description>Updates the Billing Email Address on the Account when a contact is created if there is no billing email</description>
    <label>Account Billing Email Update</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Billing_Email</name>
        <label>Update Billing Email</label>
        <locationX>621</locationX>
        <locationY>326</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecurSoft__Billing_Email__c</field>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Test_Screen</name>
        <label>Test Screen</label>
        <locationX>537</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>Account_ID</name>
            <dataType>String</dataType>
            <fieldText>Account ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Test_Screen</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
