src.1/flows/Accounting_Data_Request-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CalculateRollup</name>
        <label>CalculateRollup</label>
        <locationX>43</locationX>
        <locationY>407</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateOwner</targetReference>
        </connector>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>AddendumID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <stringValue>Addendum_Accting_Data_Count</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>495</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Asset.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Next_Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Invoice_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_MSF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Trial_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trial_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Accounting_Data_Request_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset.Original_Contract_Signed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Signed_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOwnerId</name>
        <label>UpdateOwnerId</label>
        <locationX>204</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Addendum.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addendum.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addendum.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accounting Data Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculateRollup</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Accounting Data Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounting Data Request</label>
    <loops>
        <name>LoopAddendumLineItems</name>
        <label>LoopAddendumLineItems</label>
        <locationX>204</locationX>
        <locationY>146</locationY>
        <assignNextValueToReference>AddendumLineItem</assignNextValueToReference>
        <collectionReference>AddendumLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssetLookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LookupAddendum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>AssetLookup</name>
        <label>AssetLookup</label>
        <locationX>489</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddendumLineItem.Asset__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset</outputReference>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>Trial_End_Date__c</queriedFields>
        <queriedFields>Next_Invoice_Date__c</queriedFields>
        <queriedFields>Original_Contract_Signed_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupAddendum</name>
        <label>LookupAddendum</label>
        <locationX>205</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOwnerId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddendumID</elementReference>
            </value>
        </filters>
        <object>Addendum__c</object>
        <outputReference>Addendum</outputReference>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupAddendumLineItems</name>
        <label>LookupAddendumLineItems</label>
        <locationX>420</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAddendumLineItems</targetReference>
        </connector>
        <filters>
            <field>Addendum__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddendumID</elementReference>
            </value>
        </filters>
        <object>Addendum_Line_Item__c</object>
        <outputReference>AddendumLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssets</name>
        <label>UpdateAssets</label>
        <locationX>422</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>LoopAddendumLineItems</targetReference>
        </connector>
        <inputReference>Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwner</name>
        <label>UpdateOwner</label>
        <locationX>204</locationX>
        <locationY>461</locationY>
        <inputReference>Addendum</inputReference>
    </recordUpdates>
    <screens>
        <name>Current_Data</name>
        <label>Current Data</label>
        <locationX>490</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Values</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please input the current billing details for the following  Asset: &lt;A HREF=&quot;/{!AddendumLineItem.Asset__c}&quot; TARGET=&quot;_blank&quot;&gt;{!AddendumLineItem.Asset__r.Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Current_MSF</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Asset.Price</elementReference>
            </defaultValue>
            <fieldText>Current MSF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Contract_Signed_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Asset.Original_Contract_Signed_Date__c</elementReference>
            </defaultValue>
            <fieldText>Contract Signed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Next_Invoice_Date1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Asset.Next_Invoice_Date__c</elementReference>
            </defaultValue>
            <fieldText>Next Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Trial_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Asset.Trial_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Trial End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Contract_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Asset.Contract_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Contract End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>LookupAddendumLineItems</startElementReference>
    <variables>
        <name>Addendum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Addendum__c</objectType>
    </variables>
    <variables>
        <name>AddendumID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddendumLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Addendum_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>AddendumLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Addendum_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ProdSubs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecurSoft__Product_Subscription__c</objectType>
    </variables>
</Flow>
