src.1/flows/Account_Team_Assignment-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Dentrix_Assignment</name>
        <label>Dentrix Assignment</label>
        <locationX>1092</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dentrix 1 Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EagleSoft_Assignment</name>
        <label>EagleSoft Assignment</label>
        <locationX>624</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EagleSoft Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Global_Assignment</name>
        <label>Global Assignment</label>
        <locationX>919</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Global Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count</name>
        <label>Increase Count</label>
        <locationX>1261</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varCaseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Round_Robin_Case_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Medical_Assignment</name>
        <label>Medical Assignment</label>
        <locationX>273</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical 1 Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SCOPE_Assignment</name>
        <label>SCOPE Assignment</label>
        <locationX>769</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SCOPE Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vision_Assignment</name>
        <label>Vision Assignment</label>
        <locationX>448</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>varTeamAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vision Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dental_PM_Decision</name>
        <label>Dental PM Decision</label>
        <locationX>817</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Global_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Global</defaultConnectorLabel>
        <rules>
            <name>Dentrix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dentrix</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dentrix_Assignment</targetReference>
            </connector>
            <label>Dentrix</label>
        </rules>
        <rules>
            <name>EagleSoft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EagleSoft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EagleSoft_Assignment</targetReference>
            </connector>
            <label>EagleSoft</label>
        </rules>
        <rules>
            <name>SCOPE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SoftDent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Curve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OpenDental</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PracticeWorks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EasyDental</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Practice Works</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft Dent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Dental</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Easy Dental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCOPE_Assignment</targetReference>
            </connector>
            <label>SCOPE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_Decision</name>
        <label>Vertical Decision</label>
        <locationX>592</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Medical_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Medical</defaultConnectorLabel>
        <rules>
            <name>Dental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVertical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dental_PM_Decision</targetReference>
            </connector>
            <label>Dental</label>
        </rules>
        <rules>
            <name>Vision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVertical</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vision_Assignment</targetReference>
            </connector>
            <label>Vision</label>
        </rules>
    </decisions>
    <description>Assigns a Support Team to the Account according to Vertical and Practice Management System - No double teams</description>
    <label>Account Team Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Dentrix_Team_Lookup</name>
        <label>Dentrix Team Lookup</label>
        <locationX>1259</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increase_Count</targetReference>
        </connector>
        <filters>
            <field>Vertical_Practice_Management_System__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRoundRobinID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseCount</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <field>Team_Assignment__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Team_Assignment</name>
        <label>Account Team Assignment</label>
        <locationX>703</locationX>
        <locationY>725</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Round_Robin_Case_Count</name>
        <label>Update Round Robin Case Count</label>
        <locationX>1262</locationX>
        <locationY>460</locationY>
        <connector>
            <targetReference>Account_Team_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCSRoundRobinID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varCaseCount</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <startElementReference>Vertical_Decision</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCSRoundRobinID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Accounts Vertical</description>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
