src.1/flows/Activation_Case_Auto_Assign-20.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>1467</locationX>
        <locationY>941</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account ID: {!varAccountID}        Here is the Fault Message: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Auto Assign has failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deletion_Email</name>
        <label>Send Deletion Email</label>
        <locationX>1141</locationX>
        <locationY>245</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Deleted Action: {!Delete_this_record} &lt;/br&gt; Case Count: {!varCaseCount} &lt;/br&gt; Case ID: {!varCaseID}  &lt;/br&gt; Account ID: {!varAccountID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Activation Case was deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Test_email</name>
        <label>Test email</label>
        <locationX>26</locationX>
        <locationY>137</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Imp: {!varImplementationRep},  Active: {!varActive},  RR ID: {!varCSRRID},  RR Name: {!varRepID}, Decision: {!Is_Imp_Rep_Active}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Parent_Implementation_Rep_to_varRepID</name>
        <label>Assign Parent Implementation Rep to varRepID</label>
        <locationX>481</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>varRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentImplementationRep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Scheduler_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Scheduler_Rep_to_varSchedulerID</name>
        <label>Assign Parent Scheduler Rep to varSchedulerID</label>
        <locationX>67</locationX>
        <locationY>970</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentScheduler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plus_one_Scheduler_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counting_Cases</name>
        <label>Counting Cases</label>
        <locationX>941</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>varCaseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOpenActivationCase.Case_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Open_Activation_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_team_assignment</name>
        <label>Group team assignment</label>
        <locationX>747</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>varRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduler</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_one_Scheduler</name>
        <label>Plus one Scheduler</label>
        <locationX>1480</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_one_Scheduler_0</name>
        <label>Plus one Scheduler</label>
        <locationX>322</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_Open_Activation_Cases</name>
        <label>Are there any Open Activation Cases?</label>
        <locationX>1136</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Assigned_and_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_this_record</targetReference>
            </connector>
            <label>Already Assigned and Open</label>
        </rules>
        <rules>
            <name>No_Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Account_Scheduler_Rep_Lookup</targetReference>
            </connector>
            <label>No Cases Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Free_Months</name>
        <label>Are there Free Months?</label>
        <locationX>951</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_have_Implementation_Rep_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Free Months</defaultConnectorLabel>
        <rules>
            <name>Has_at_least_one_Free_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFreeMonths</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Compliance_Call</targetReference>
            </connector>
            <label>Has at least one Free month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Implementation_Rep</name>
        <label>Does Parent have Implementation Rep</label>
        <locationX>534</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Parent_s_Implementation_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent has Imp. Rep</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Implementation_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentImplementationRep</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Implementation_Rep_Lookup</targetReference>
            </connector>
            <label>No Parent Implementation Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Implementation_Rep_0</name>
        <label>Does Parent have Implementation Rep</label>
        <locationX>956</locationX>
        <locationY>1063</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_have_Scheduler_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Implementation_Rep_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentImplementationRep</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Update</targetReference>
            </connector>
            <label>No Parent Implementation Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Scheduler_Rep</name>
        <label>Does Parent have Scheduler Rep</label>
        <locationX>652</locationX>
        <locationY>1232</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Scheduler_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Update_0</targetReference>
            </connector>
            <label>No Parent Scheduler Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Active</name>
        <label>Implementation Active?</label>
        <locationX>531</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Is_Imp_Rep_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Open_Activation_Cases</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_team_already_Assigned</name>
        <label>Is a team already Assigned?</label>
        <locationX>132</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Lookup_Implementation_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Assigned</defaultConnectorLabel>
        <rules>
            <name>Account_Needs_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs a Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_a_Team</targetReference>
            </connector>
            <label>Account Needs Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Owner_a_Small_Group</name>
        <label>Is Parent Owner a Small Group</label>
        <locationX>525</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentOwnerTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groups Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_team_assignment</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>Direct_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentOwnerTeam</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Groups Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Parent_have_Implementation_Rep</targetReference>
            </connector>
            <label>Direct Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent</name>
        <label>Is there a Parent</label>
        <locationX>750</locationX>
        <locationY>354</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Implementation_Rep_Lookup</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Owner_a_Small_Group</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Scheduler_Rep</name>
        <label>Is there a Scheduler Rep</label>
        <locationX>320</locationX>
        <locationY>713</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Has_a_Scheduler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduler_Rep_Lookup_0</targetReference>
            </connector>
            <label>Has a Scheduler</label>
        </rules>
        <rules>
            <name>Does_not_have_a_Scheduler_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduler_Rep_Lookup_on_Parent</targetReference>
            </connector>
            <label>Does not have a Scheduler Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_medical_account</name>
        <label>Is this a medical account</label>
        <locationX>1124</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Rep_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Medical</defaultConnectorLabel>
        <rules>
            <name>Is_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical 1 Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduler_Rep_Lookup_1</targetReference>
            </connector>
            <label>Is Medical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Implementation_Active</name>
        <label>Parent Implementation Active?</label>
        <locationX>315</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Lookup_Implementation_Rep_on_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Implementation_Rep_to_varRepID</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Scheduler_Active</name>
        <label>Parent Scheduler Active?</label>
        <locationX>48</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Rep_Lookup_on_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Is_Active_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Scheduler_Rep_to_varSchedulerID</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduler_Active</name>
        <label>Scheduler Active?</label>
        <locationX>1361</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_medical_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Scheduler_Rep_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_one_Scheduler</targetReference>
            </connector>
            <label>Scheduler Rep is Active</label>
        </rules>
    </decisions>
    <description>Auto Assigns the Activation Case and Scheduler based on the Team Assignment and Reps CS Round Robin Load % - Includes Parent Account Flow w/Ophthalmology. Adds Compliance Call task for scheduler when Oppty has Free Months</description>
    <interviewLabel>Activation Case Auto Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Case Auto Assign</label>
    <loops>
        <name>Count_Open_Activation_Cases</name>
        <label>Count Open Activation Cases</label>
        <locationX>937</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>CurrentOpenActivationCase</assignNextValueToReference>
        <collectionReference>OpenActivationCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counting_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_Open_Activation_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_to_Schedule_Task</name>
        <label>Create Call to Schedule Task</label>
        <locationX>952</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Lookup_up_Opportunity_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Call</name>
        <label>Create Compliance Call</label>
        <locationX>645</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Does_Parent_have_Implementation_Rep_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Compliance Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_this_record</name>
        <label>Delete this record</label>
        <locationX>1139</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Send_Deletion_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Direct_Account_Scheduler_Rep_Lookup</name>
        <label>Direct Account Scheduler Rep Lookup</label>
        <locationX>1362</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Implementation_Rep_Lookup</name>
        <label>Implementation Rep Lookup</label>
        <locationX>945</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_medical_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Free_Months_on_the_Opportunity</name>
        <label>Lookup Free Months on the Opportunity</label>
        <locationX>745</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Free_Months</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varFreeMonths</assignToReference>
            <field>MSF_Free_Months__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Implementation_Rep</name>
        <label>Lookup Implementation Rep</label>
        <locationX>360</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Implementation_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImplementationRep</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Implementation_Rep_on_Parent</name>
        <label>Lookup Implementation Rep on Parent</label>
        <locationX>51</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Scheduler_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Open_Activation_Cases</name>
        <label>Lookup Open Activation Cases</label>
        <locationX>749</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Open_Activation_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EALwAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenActivationCases</outputReference>
        <queriedFields>Case_Count__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_up_Opportunity_ID</name>
        <label>Lookup up Opportunity ID</label>
        <locationX>738</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Free_Months_on_the_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varRelatedOpportunityID</assignToReference>
            <field>Related_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_s_Implementation_Rep</name>
        <label>Parent&#39;s Implementation Rep</label>
        <locationX>46</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Implementation_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentImplementationRep</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>1315</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Medical 1 Team</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_0</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>47</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Scheduler_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_1</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>1322</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical 1 Team</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_on_Parent</name>
        <label>Scheduler Rep Lookup on Parent</label>
        <locationX>320</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>949</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Create_Call_to_Schedule_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_0</name>
        <label>Case Update</label>
        <locationX>946</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Update</name>
        <label>Parent Account Update</label>
        <locationX>641</locationX>
        <locationY>1063</locationY>
        <connector>
            <targetReference>Does_Parent_have_Scheduler_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Update_0</name>
        <label>Parent Account Update</label>
        <locationX>962</locationX>
        <locationY>1235</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals</name>
        <label>Update Scheduler totals</label>
        <locationX>1505</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals_0</name>
        <label>Update Scheduler totals</label>
        <locationX>741</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <startElementReference>Is_a_team_already_Assigned</startElementReference>
    <subflows>
        <name>Assign_Account_to_a_Team</name>
        <label>Assign Account to a Team</label>
        <locationX>360</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Lookup_Implementation_Rep</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubVert</name>
            <value>
                <elementReference>varSubVert</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CurrentOpenActivationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenActivationCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varActiveScheduler</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFreeMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwnerTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000001gWx8</stringValue>
        </value>
    </variables>
    <variables>
        <name>varScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSchedulerAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSchedulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubVert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
