src.1/flows/Activation_Case_Auto_Assign-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_a_team_already_Assigned</name>
        <label>Is a team already Assigned?</label>
        <locationX>208</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_to_a_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Assigned</defaultConnectorLabel>
        <rules>
            <name>Account_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Implementation_Rep_Lookup</targetReference>
            </connector>
            <label>Account is assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medical_or_Dentrix</name>
        <label>Medical or Dentrix?</label>
        <locationX>365</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Case_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Medical_Dentrix</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Medical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Dentrix</stringValue>
                </rightValue>
            </conditions>
            <label>Medical/Dentrix</label>
        </rules>
    </decisions>
    <description>Auto Assigns the Activation Case based on the Team Assignment and Reps CS Round Robin Load %</description>
    <label>Activation Case Auto Assign</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_to_Schedule_Task</name>
        <label>Create Call to Schedule Task</label>
        <locationX>218</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Onboarding_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Call_to_Schedule_Task_0</name>
        <label>Create Call to Schedule Task</label>
        <locationX>519</locationX>
        <locationY>886</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Onboarding_Case</name>
        <label>Onboarding Case</label>
        <locationX>216</locationX>
        <locationY>1013</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding case for</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Implementation_Rep_Lookup</name>
        <label>Implementation Rep Lookup</label>
        <locationX>210</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Rep_Lookup</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>212</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Coach_Rep_Lookup</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Rep_Lookup</name>
        <label>Success Coach Rep Lookup</label>
        <locationX>213</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccssCoach</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>519</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Create_Call_to_Schedule_Task_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Update_0</name>
        <label>Account Update</label>
        <locationX>214</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>Create_Call_to_Schedule_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>514</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_0</name>
        <label>Case Update</label>
        <locationX>212</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Account_Update_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Is_a_team_already_Assigned</startElementReference>
    <subflows>
        <name>Assign_Account_to_a_Team</name>
        <label>Assign Account to a Team</label>
        <locationX>508</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Implementation_Rep_Lookup</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000001gWx8</stringValue>
        </value>
    </variables>
    <variables>
        <name>varScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000003JcdJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSchedulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccssCoach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
