src.1/flows/Activation_Assignment_on_Opportunity-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>957</locationX>
        <locationY>649</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account ID: {!varAccountID}        Here is the Fault Message: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Auto Assign has failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Test_email</name>
        <label>Test email</label>
        <locationX>1358</locationX>
        <locationY>581</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Imp: {!varImplementationRep},  Active: {!varActive},  RR ID: {!varCSRRID},  RR Name: {!varRepID}, Decision: {!Success_Coach_Is_Active}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Parent_SC_as_SC</name>
        <label>Assign Parent SC as SC</label>
        <locationX>521</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>varSuccessCoachID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentSuccessCoachID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rep_ID_is_Success_Coach_ID</name>
        <label>Rep ID is Success Coach ID</label>
        <locationX>993</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>varRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Parent_have_Success_Coach</name>
        <label>Does Parent have Success Coach</label>
        <locationX>227</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Success_Coach_Lookup_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive/No Parent Success Coach</defaultConnectorLabel>
        <rules>
            <name>Active_Parent_Success_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_SC_as_SC</targetReference>
            </connector>
            <label>Active Parent Success Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_team_already_Assigned</name>
        <label>Is a team already Assigned?</label>
        <locationX>42</locationX>
        <locationY>18</locationY>
        <defaultConnector>
            <targetReference>Lookup_Success_Coach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Assigned</defaultConnectorLabel>
        <rules>
            <name>Account_Needs_Assignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs a Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_Info_for_sub_flow</targetReference>
            </connector>
            <label>Account Needs Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent</name>
        <label>Is there a Parent</label>
        <locationX>588</locationX>
        <locationY>308</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Coach_Lookup</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Parent_Info</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_Coach_Active</name>
        <label>Success Coach Active</label>
        <locationX>587</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Lookup_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success Coach is not Active</defaultConnectorLabel>
        <rules>
            <name>Success_Coach_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rep_ID_is_Success_Coach_ID</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <interviewLabel>Activation Assignment on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Assignment on Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account_Info_for_sub_flow</name>
        <label>Lookup Account Info for sub-flow</label>
        <locationX>41</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Management_System</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varVertical</assignToReference>
            <field>Industry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varManagementSystemID</assignToReference>
            <field>Practice_Management_Software__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubVert</assignToReference>
            <field>Sub_Vertical__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Management_System</name>
        <label>Lookup Management System</label>
        <locationX>174</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_to_a_Team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varManagementSystemID</elementReference>
            </value>
        </filters>
        <object>Management_System__c</object>
        <outputAssignments>
            <assignToReference>varPM</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent</name>
        <label>Lookup Parent</label>
        <locationX>588</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Parent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Info</name>
        <label>Lookup Parent Info</label>
        <locationX>227</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Success_Coach_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentSuccessCoachID</assignToReference>
            <field>Success_Coach__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach</name>
        <label>Lookup Success Coach</label>
        <locationX>328</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Coach_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach_0</name>
        <label>Lookup Success Coach</label>
        <locationX>227</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_have_Success_Coach</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentSuccessCoachID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Lookup</name>
        <label>Success Coach Lookup</label>
        <locationX>993</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Lookup_0</name>
        <label>Success Coach Lookup</label>
        <locationX>232</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1273</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1344</locationX>
        <locationY>271</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <elementReference>varSCRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Is_a_team_already_Assigned</startElementReference>
    <subflows>
        <name>Assign_Account_to_a_Team</name>
        <label>Assign Account to a Team</label>
        <locationX>326</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Lookup_Success_Coach</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubVert</name>
            <value>
                <elementReference>varSubVert</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ResultEmailBody</name>
        <text>Is the Success Coach Active: {!Success_Coach_Is_Active}
Is the Rep Active? {!varActive}
Is there a Parent: {!Has_a_Parent}, {!No_Parent}
Group/Direct: , 
Account Needs Assignment: {!Account_Needs_Assignment}
Already Assigned and Open: 
Direct Account: 
Does not have a Scheduler Rep: 
Group: 
Has a Parent: {!Has_a_Parent}
Has a Scheduler: 
Has at least one Free month: 
Imp. Rep is Active: 
P. Imp. is Active: 
P. Sched. is Active: 
Is Medical: 
No Cases Found: 
No Parent: {!No_Parent}</text>
    </textTemplates>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToUpdateFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentLoopOtherCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentOpenActivationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenActivationCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OtherCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var70DaysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varActiveScheduler</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFreeMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImpRepActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varManagementSystemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNextBusinessDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentOwnerTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSchedulerAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSchedulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSCRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubVert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
