src.1/flows/Activation_Case_Update_CS_Round_Robin-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>1647</locationX>
        <locationY>44</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Error has occured with a RR update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Case_Record_Type_Decision</name>
        <label>Case Record Type Decision</label>
        <locationX>463</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Success_Coach</targetReference>
            </connector>
            <label>Activation</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Success_Coach</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Sync_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sync List Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Tech_Rep</targetReference>
            </connector>
            <label>Sync List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_CSRR</name>
        <label>Is there a CSRR?</label>
        <locationX>269</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_CSRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_IRRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Account_Update</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Success_Coach</name>
        <label>Is there a Success Coach?</label>
        <locationX>461</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_CSRR_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_SCRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Tech_Rep</name>
        <label>Is there a Tech Rep?</label>
        <locationX>854</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_Tech_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_TRRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_User</name>
        <label>Is this a User?</label>
        <locationX>460</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is a User</defaultConnectorLabel>
        <rules>
            <name>Not_a_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_a_User_Update</targetReference>
            </connector>
            <label>Not a User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Started_on_Account_or_on_a_Case</name>
        <label>Started on Account or on a Case</label>
        <locationX>214</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Lookup_CSRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_User</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>This flow updates the Implementation Rep/Success Coach/Tech Rep when the Case owner is changed.  If the new owner does not have a CS Round Robin record than one is created for them.  Updates the Accounts Imp. Rep RRID when the Imp. Rep is changed</description>
    <interviewLabel>Activation Case Update CS Round Robin/Success Coach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Case Update CS Round Robin/Success Coach</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Record_for_CSRR</name>
        <label>Create New Record for CSRR</label>
        <locationX>64</locationX>
        <locationY>462</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Record_for_CSRR_0</name>
        <label>Create New Record for CSRR</label>
        <locationX>682</locationX>
        <locationY>462</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Record_for_Tech_Rep</name>
        <label>Create New Record for Tech Rep</label>
        <locationX>1077</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Sync_Team_to_work__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01231000000tYIIAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_CSRR</name>
        <label>Lookup CSRR</label>
        <locationX>271</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_CSRR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtpAAG</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach</name>
        <label>Lookup Success Coach</label>
        <locationX>461</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Success_Coach</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tech_Rep</name>
        <label>Lookup Tech Rep</label>
        <locationX>852</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Tech_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01231000000tYIIAA2</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>269</locationX>
        <locationY>668</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Update_0</name>
        <label>Account Update</label>
        <locationX>468</locationX>
        <locationY>669</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Not_a_User_Update</name>
        <label>Not a User</label>
        <locationX>645</locationX>
        <locationY>69</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>464</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Account_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>855</locationX>
        <locationY>565</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Rep_Round_Robin__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Started_on_Account_or_on_a_Case</startElementReference>
    <textTemplates>
        <name>ErrorMessage</name>
        <text>An error occured when a Case ower was changed or the Imp. Rep was changed on the Account.

Did this heppen on a Case? {!Case}
Is there a User?{!Not_a_User}
Is this a Sync Case? {!Sync_List}
Is this a Onboarind Case/Activation Case? {!Onboarding}/{!Activation}
Is there a Tech Rep? {!Found_TRRR}
Is there a Success Coach? {!Found_SCRR}
Is there a Imp. Rep? {!Found_IRRR}

Variables:
Account ID:{!varAccountID}
Case ID: {!varCaseID}
Case Record ID: {!varCaseRecordID}
Round Robin ID: {!varCSRRID}
Record Type Name: {!varRecordTypeName}
Rep Name: {!varRepName}
Team Assignment: {!varTeamAssignment}
User ID: {!varUserID}

Fault Message:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
