src.1/flows/Activation_Case_Auto_Assign-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Plus_one_Scheduler</name>
        <label>Plus one Scheduler</label>
        <locationX>549</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_one_Scheduler_0</name>
        <label>Plus one Scheduler</label>
        <locationX>419</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_a_team_already_Assigned</name>
        <label>Is a team already Assigned?</label>
        <locationX>547</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_to_a_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Team Assigned</defaultConnectorLabel>
        <rules>
            <name>Account_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Parent</targetReference>
            </connector>
            <label>Account is assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent</name>
        <label>Is there a Parent</label>
        <locationX>547</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Implementation_Rep_Lookup</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Parent_Info</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent_2</name>
        <label>Is there a Parent</label>
        <locationX>566</locationX>
        <locationY>1494</locationY>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Has_a_Parent_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Parent_Info_2</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Implementation</name>
        <label>Parent Implementation</label>
        <locationX>287</locationX>
        <locationY>1621</locationY>
        <defaultConnector>
            <targetReference>Parent_Account_Implementation_Rep_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Implementation Rep</defaultConnectorLabel>
        <rules>
            <name>Has_Implemenation_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentImpRep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Scheduler</targetReference>
            </connector>
            <label>Has Implemenation Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Implementation_Active</name>
        <label>Parent Implementation Active?</label>
        <locationX>256</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduler_Rep_Lookup_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_s_Implementation_Rep_0</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Scheduler</name>
        <label>Parent Scheduler</label>
        <locationX>293</locationX>
        <locationY>1744</locationY>
        <defaultConnector>
            <targetReference>Parent_Account_Scheduler_Rep_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Scheduler Rep</defaultConnectorLabel>
        <rules>
            <name>Has_Scheduler_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Success_Coach</targetReference>
            </connector>
            <label>Has Scheduler Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Scheduler_Active</name>
        <label>Parent Scheduler Active?</label>
        <locationX>255</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Rep_Lookup_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Is_Active_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_one_Scheduler_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Success_Coach</name>
        <label>Parent Success Coach</label>
        <locationX>294</locationX>
        <locationY>1877</locationY>
        <defaultConnector>
            <targetReference>Parent_Account_Success_Coach_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Success Coach</defaultConnectorLabel>
        <rules>
            <name>Has_Success_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentSuccessCoach</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <label>Has Success Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_SuccessCoach_Active</name>
        <label>Parent SuccessCoach Active?</label>
        <locationX>238</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Success_Coach_Rep_Lookup_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Is_Active_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveSuccessCoach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Auto Assigns the Activation Case based on the Team Assignment and Reps CS Round Robin Load % - Includes Parent Account Flow</description>
    <label>Activation Case Auto Assign</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_to_Schedule_Task</name>
        <label>Create Call to Schedule Task</label>
        <locationX>565</locationX>
        <locationY>1284</locationY>
        <connector>
            <targetReference>Onboarding_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Onboarding_Case</name>
        <label>Onboarding Case</label>
        <locationX>566</locationX>
        <locationY>1386</locationY>
        <connector>
            <targetReference>Is_there_a_Parent_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding case for</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Implementation_Rep_Lookup</name>
        <label>Implementation Rep Lookup</label>
        <locationX>556</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Rep_Lookup</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Info</name>
        <label>Lookup Parent Info</label>
        <locationX>255</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_s_Implementation_Rep</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Implementation_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Scheduler_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccssCoach</assignToReference>
            <field>Success_Coach__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_Info_2</name>
        <label>Lookup Parent Info</label>
        <locationX>288</locationX>
        <locationY>1496</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Implementation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentImpRep</assignToReference>
            <field>Implementation_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentScheduler</assignToReference>
            <field>Scheduler_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentSuccessCoach</assignToReference>
            <field>Success_Coach__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_s_Implementation_Rep</name>
        <label>Parent&#39;s Implementation Rep</label>
        <locationX>256</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Implementation_Active</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_s_Implementation_Rep_0</name>
        <label>Parent&#39;s Implementation Rep</label>
        <locationX>428</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Rep_Lookup_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>556</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_0</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>258</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Scheduler_Active</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_0_0</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>427</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Rep_Lookup</name>
        <label>Success Coach Rep Lookup</label>
        <locationX>551</locationX>
        <locationY>918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccssCoach</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Rep_Lookup_1</name>
        <label>Success Coach Rep Lookup</label>
        <locationX>238</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_SuccessCoach_Active</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveSuccessCoach</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Rep_Lookup_2</name>
        <label>Success Coach Rep Lookup</label>
        <locationX>416</locationX>
        <locationY>922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccssCoach</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update_0</name>
        <label>Account Update</label>
        <locationX>560</locationX>
        <locationY>1188</locationY>
        <connector>
            <targetReference>Create_Call_to_Schedule_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_0</name>
        <label>Case Update</label>
        <locationX>555</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Account_Update_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Implementation_Rep_Update</name>
        <label>Parent Account Implementation Rep Update</label>
        <locationX>567</locationX>
        <locationY>1621</locationY>
        <connector>
            <targetReference>Parent_Scheduler</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Scheduler_Rep_Update</name>
        <label>Parent Account Scheduler Rep Update</label>
        <locationX>562</locationX>
        <locationY>1745</locationY>
        <connector>
            <targetReference>Parent_Success_Coach</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Success_Coach_Update</name>
        <label>Parent Account Success Coach Update</label>
        <locationX>567</locationX>
        <locationY>1868</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varSuccssCoach</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals</name>
        <label>Update Scheduler totals</label>
        <locationX>547</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Success_Coach_Rep_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals_0</name>
        <label>Update Scheduler totals</label>
        <locationX>419</locationX>
        <locationY>828</locationY>
        <connector>
            <targetReference>Success_Coach_Rep_Lookup_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <startElementReference>Is_a_team_already_Assigned</startElementReference>
    <subflows>
        <name>Assign_Account_to_a_Team</name>
        <label>Assign Account to a Team</label>
        <locationX>817</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Is_there_a_Parent</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveScheduler</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveSuccessCoach</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentImpRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentSuccessCoach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000001gWx8</stringValue>
        </value>
    </variables>
    <variables>
        <name>varScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000003JcdJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSchedulerAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSchedulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>005i0000001gWx8</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSuccssCoach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
