src.1/flows/Activation_Case_Auto_Assign-34.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End_Result</name>
        <label>End Result</label>
        <locationX>470</locationX>
        <locationY>1125</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ResultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Testing Onboarding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>727</locationX>
        <locationY>304</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account ID: {!varAccountID}        Here is the Fault Message: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Auto Assign has failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Mid_Results</name>
        <label>Mid Results</label>
        <locationX>863</locationX>
        <locationY>578</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ResultEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Mid Testing Onboarding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deletion_Email</name>
        <label>Send Deletion Email</label>
        <locationX>1537</locationX>
        <locationY>33</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Deleted Action: {!Delete_this_record} &lt;/br&gt; Case Count: {!varCaseCount} &lt;/br&gt; Case ID: {!varCaseID}  &lt;/br&gt; Account ID: {!varAccountID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Activation Case was deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Test_email</name>
        <label>Test email</label>
        <locationX>26</locationX>
        <locationY>137</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Imp: {!varImplementationRep},  Active: {!varActive},  RR ID: {!varCSRRID},  RR Name: {!varRepID}, Decision: {!Success_Coach_Is_Active}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Case_to_New_Collection</name>
        <label>Add Case to New Collection</label>
        <locationX>688</locationX>
        <locationY>1459</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdateFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentLoopOtherCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_change_ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_70_Day_Due_Date</name>
        <label>Assign 70 Day Due Date</label>
        <locationX>1086</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Final_Onboarding_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ownership</name>
        <label>Assign Ownership</label>
        <locationX>680</locationX>
        <locationY>1339</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoopOtherCases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counting_Cases</name>
        <label>Counting Cases</label>
        <locationX>949</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>varCaseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOpenActivationCase.Case_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Open_Activation_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_team_assignment</name>
        <label>Group team assignment</label>
        <locationX>618</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>varSuccessCoachID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varScheduler</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varImplementationRep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varParentOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_one_Scheduler</name>
        <label>Plus one Scheduler</label>
        <locationX>1544</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plus_one_Scheduler_0</name>
        <label>Plus one Scheduler</label>
        <locationX>321</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheduler_totals_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rep_ID_is_Success_Coach_ID</name>
        <label>Rep ID is Success Coach ID</label>
        <locationX>1160</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>varRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Implementation_Rep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_Open_Activation_Cases</name>
        <label>Are there any Open Activation Cases?</label>
        <locationX>1155</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Already_Assigned_and_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_this_record</targetReference>
            </connector>
            <label>Already Assigned and Open</label>
        </rules>
        <rules>
            <name>No_Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rep_ID_is_Success_Coach_ID</targetReference>
            </connector>
            <label>No Cases Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Free_Months</name>
        <label>Are there Free Months?</label>
        <locationX>813</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_have_Implementation_Rep_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Free Months</defaultConnectorLabel>
        <rules>
            <name>Has_at_least_one_Free_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFreeMonths</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Compliance_Call</targetReference>
            </connector>
            <label>Has at least one Free month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Implementation_Rep_0</name>
        <label>Does Parent have Implementation Rep</label>
        <locationX>1085</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Does_Parent_have_Scheduler_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Parent Imp. Rep.</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Implementation_Rep_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentImplementationRep</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentImplementationRep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Update</targetReference>
            </connector>
            <label>No Parent Implementation Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Scheduler_Rep</name>
        <label>Does Parent have Scheduler Rep</label>
        <locationX>1088</locationX>
        <locationY>1193</locationY>
        <defaultConnector>
            <targetReference>Lookup_Other_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Has a Scheduler</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Scheduler_Rep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Account_Update_0</targetReference>
            </connector>
            <label>No Parent Scheduler Rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_have_Success_Coach</name>
        <label>Does Parent have Success Coach</label>
        <locationX>29</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Success_Coach_Lookup_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive/No Parent Success Coach</defaultConnectorLabel>
        <rules>
            <name>Active_Parent_Success_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_s_Implementation_Rep</targetReference>
            </connector>
            <label>Active Parent Success Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_team_already_Assigned</name>
        <label>Is a team already Assigned?</label>
        <locationX>30</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Lookup_Success_Coach</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is Assigned</defaultConnectorLabel>
        <rules>
            <name>Account_Needs_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs a Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_a_Team</targetReference>
            </connector>
            <label>Account Needs Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Imp_Rep_Active0</name>
        <label>Is Imp. Rep Active?</label>
        <locationX>1346</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Lookup_Implementation_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Imp. Rep is not active</defaultConnectorLabel>
        <rules>
            <name>Imp_Rep_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varImpRepActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Owner_a_Small_Group</name>
        <label>Is Parent Owner a Small Group</label>
        <locationX>320</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentOwnerTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Groups Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_team_assignment</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>Direct_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentOwnerTeam</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Groups Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Success_Coach_0</targetReference>
            </connector>
            <label>Direct Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent</name>
        <label>Is there a Parent</label>
        <locationX>536</locationX>
        <locationY>175</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Coach_Lookup</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Owner_a_Small_Group</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_medical_account</name>
        <label>Is this a medical account</label>
        <locationX>1095</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Rep_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Dental/Vision</defaultConnectorLabel>
        <rules>
            <name>Is_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical 1 Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduler_Rep_Lookup_1</targetReference>
            </connector>
            <label>Is Medical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Implementation_Active</name>
        <label>Parent Implementation Active?</label>
        <locationX>33</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Lookup_Implementation_Rep_on_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Parent_Imp_Rep_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Scheduler_Active</name>
        <label>Parent Scheduler Active?</label>
        <locationX>32</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Rep_Lookup_on_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Parent_Scheduler_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_one_Scheduler_0</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduler_Active</name>
        <label>Scheduler Active?</label>
        <locationX>1350</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Is_this_a_medical_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Scheduler_Rep_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActiveScheduler</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plus_one_Scheduler</targetReference>
            </connector>
            <label>Scheduler Rep is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_Coach_Active</name>
        <label>Success Coach Active</label>
        <locationX>535</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success Coach is not Active</defaultConnectorLabel>
        <rules>
            <name>Success_Coach_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Open_Activation_Cases</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>New Onboarding flow to Assign Activation Case to Success Coaches - added Conversation case assignment
Removed Scheduler Lookup, Removed Compliance Calls</description>
    <interviewLabel>Activation Case Auto Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Case Auto Assign</label>
    <loops>
        <name>Count_Open_Activation_Cases</name>
        <label>Count Open Activation Cases</label>
        <locationX>945</locationX>
        <locationY>28</locationY>
        <assignNextValueToReference>CurrentOpenActivationCase</assignNextValueToReference>
        <collectionReference>OpenActivationCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counting_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_Open_Activation_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_change_ownership</name>
        <label>Loop to change ownership</label>
        <locationX>1110</locationX>
        <locationY>1337</locationY>
        <assignNextValueToReference>CurrentLoopOtherCases</assignNextValueToReference>
        <collectionReference>OtherCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ownership</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_to_Schedule_Task</name>
        <label>Create Call to Schedule Task</label>
        <locationX>1086</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Assign_70_Day_Due_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call to Schedule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Call</name>
        <label>Create Compliance Call</label>
        <locationX>814</locationX>
        <locationY>1186</locationY>
        <connector>
            <targetReference>Does_Parent_have_Implementation_Rep_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Compliance Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_Onboarding_Task</name>
        <label>Create Final Onboarding Task</label>
        <locationX>1084</locationX>
        <locationY>967</locationY>
        <connector>
            <targetReference>Lookup_Free_Months_on_the_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EAMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!varBusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_this_record</name>
        <label>Delete this record</label>
        <locationX>1349</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Send_Deletion_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>Direct_Account_Scheduler_Rep_Lookup</name>
        <label>Direct Account Scheduler Rep Lookup</label>
        <locationX>1118</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduler_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Implementation_Rep</name>
        <label>Implementation Rep</label>
        <locationX>1552</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Imp_Rep_Active0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImplementationRep</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varImpRepActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Free_Months_on_the_Opportunity</name>
        <label>Lookup Free Months on the Opportunity</label>
        <locationX>819</locationX>
        <locationY>963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_have_Implementation_Rep_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varFreeMonths</assignToReference>
            <field>MSF_Free_Months__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Implementation_Rep</name>
        <label>Lookup Implementation Rep</label>
        <locationX>1354</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varImplementationRep</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Implementation_Rep_on_Parent</name>
        <label>Lookup Implementation Rep on Parent</label>
        <locationX>319</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varImplementationRep</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Open_Activation_Cases</name>
        <label>Lookup Open Activation Cases</label>
        <locationX>750</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Open_Activation_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EALwAAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenActivationCases</outputReference>
        <queriedFields>Case_Count__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find other cases that were created with this opportunity and assign to the success coach</description>
        <name>Lookup_Other_Cases</name>
        <label>Lookup Other Cases</label>
        <locationX>1380</locationX>
        <locationY>1339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_change_ownership</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005i0000001gWx8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedOpportunityID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OtherCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach</name>
        <label>Lookup Success Coach</label>
        <locationX>323</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Coach_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach_0</name>
        <label>Lookup Success Coach</label>
        <locationX>28</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Parent_have_Success_Coach</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentSuccessCoachID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_s_Implementation_Rep</name>
        <label>Parent&#39;s Implementation Rep</label>
        <locationX>28</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Implementation_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentImplementationRep</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varImplementationRep</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_Scheduler_Rep_Lookup</name>
        <label>Parent Scheduler Rep Lookup</label>
        <locationX>25</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Scheduler_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentScheduler</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varActiveScheduler</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>1349</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Medical 1 Team</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_1</name>
        <label>Scheduler Rep Lookup</label>
        <locationX>1347</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical 1 Team</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Scheduler_Rep_Lookup_on_Parent</name>
        <label>Scheduler Rep Lookup on Parent</label>
        <locationX>317</locationX>
        <locationY>903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plus_one_Scheduler_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EM5w</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSchedulerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduler</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchedulerAssigned</assignToReference>
            <field>Number_of_Cases_Assigned__c</field>
        </outputAssignments>
        <sortField>Number_of_Cases_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Lookup</name>
        <label>Success Coach Lookup</label>
        <locationX>754</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_medical_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Success_Coach_Lookup_0</name>
        <label>Success Coach Lookup</label>
        <locationX>322</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_s_Implementation_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRVAA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSCRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRepID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1083</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Create_Call_to_Schedule_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep_RRID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varImplementationRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Update_0</name>
        <label>Case Update</label>
        <locationX>1071</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <elementReference>varSCRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Update</name>
        <label>Parent Account Update</label>
        <locationX>1383</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Does_Parent_have_Scheduler_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varRepID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_Account_Update_0</name>
        <label>Parent Account Update</label>
        <locationX>1382</locationX>
        <locationY>1204</locationY>
        <connector>
            <targetReference>Lookup_Other_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scheduler_Rep__c</field>
            <value>
                <elementReference>varScheduler</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_all</name>
        <label>Update all</label>
        <locationX>1114</locationX>
        <locationY>1483</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputReference>CasesToUpdateFinal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals</name>
        <label>Update Scheduler totals</label>
        <locationX>1548</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Implementation_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduler_totals_0</name>
        <label>Update Scheduler totals</label>
        <locationX>650</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Case_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchedulerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Cases_Assigned__c</field>
            <value>
                <elementReference>varSchedulerAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordUpdates>
    <startElementReference>Is_a_team_already_Assigned</startElementReference>
    <subflows>
        <name>Assign_Account_to_a_Team</name>
        <label>Assign Account to a Team</label>
        <locationX>322</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Lookup_Success_Coach</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubVert</name>
            <value>
                <elementReference>varSubVert</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ResultEmailBody</name>
        <text>Is the Success Coach Active: {!Success_Coach_Is_Active}
Is the Rep Active? {!varActive}
Is there a Parent: {!Has_a_Parent}, {!No_Parent}
Group/Direct: {!Group}, {!Direct_Account}
Account Needs Assignment: {!Account_Needs_Assignment}
Already Assigned and Open: {!Already_Assigned_and_Open}
Direct Account: {!Direct_Account}
Does not have a Scheduler Rep: 
Group: {!Group}
Has a Parent: {!Has_a_Parent}
Has a Scheduler: 
Has at least one Free month: {!Has_at_least_one_Free_month}
Imp. Rep is Active: {!Imp_Rep_Is_Active}
P. Imp. is Active: {!Parent_Imp_Rep_Is_Active}
P. Sched. is Active: {!Parent_Scheduler_Is_Active}
Is Medical: {!Is_Medical}
No Cases Found: {!No_Cases_Found}
No Parent: {!No_Parent}
{!No_Parent_Implementation_Rep_0}</text>
    </textTemplates>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToUpdateFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentLoopOtherCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentOpenActivationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenActivationCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OtherCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var70DaysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varActiveScheduler</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFreeMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varImpRepActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextBusinessDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentImplementationRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentOwnerTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varScheduler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSchedulerAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSchedulerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSCRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubVert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
