src.1/flows/Activation_Case_Update_CS_Round_Robin-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Record_Type_Decision</name>
        <label>Case Record Type Decision</label>
        <locationX>356</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_CSRR</targetReference>
            </connector>
            <label>Activation</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Success_Coach</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Sync_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sync List Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Tech_Rep</targetReference>
            </connector>
            <label>Sync List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_CSRR</name>
        <label>Is there a CSRR?</label>
        <locationX>269</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_CSRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Success_Coach</name>
        <label>Is there a Success Coach?</label>
        <locationX>463</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_CSRR_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Tech_Rep</name>
        <label>Is there a Tech Rep?</label>
        <locationX>854</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_New_Record_for_Tech_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSRRID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_User</name>
        <label>Is this a User?</label>
        <locationX>353</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is a User</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_a_User</targetReference>
            </connector>
            <label>Not a User</label>
        </rules>
    </decisions>
    <description>This flow updates the Implementation Rep/Success Coach/Tech Rep when the Case owner is changed.  If the new owner does not have a CS Round Robin record than one is created for them</description>
    <interviewLabel>Activation Case Update CS Round Robin/Success Coach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Case Update CS Round Robin/Success Coach</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Record_for_CSRR</name>
        <label>Create New Record for CSRR</label>
        <locationX>64</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Record_for_CSRR_0</name>
        <label>Create New Record for CSRR</label>
        <locationX>682</locationX>
        <locationY>462</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Record_for_Tech_Rep</name>
        <label>Create New Record for Tech Rep</label>
        <locationX>1073</locationX>
        <locationY>456</locationY>
        <assignRecordIdToReference>varCSRRID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012e00000004Tow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_CSRR</name>
        <label>Lookup CSRR</label>
        <locationX>271</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_CSRR</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EJtp</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Success_Coach</name>
        <label>Lookup Success Coach</label>
        <locationX>461</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Success_Coach</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tech_Rep</name>
        <label>Lookup Tech Rep</label>
        <locationX>852</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Tech_Rep</targetReference>
        </connector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012e00000004Tow</stringValue>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varCSRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>269</locationX>
        <locationY>668</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implementation_Rep__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Account_Update_0</name>
        <label>Account Update</label>
        <locationX>468</locationX>
        <locationY>669</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Not_a_User</name>
        <label>Not a User</label>
        <locationX>538</locationX>
        <locationY>69</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>267</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin_ID__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>464</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Account_Update_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>855</locationX>
        <locationY>565</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Rep_Round_Robin__c</field>
            <value>
                <elementReference>varCSRRID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Is_this_a_User</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCSRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
