src.1/flows/Addendum_Rejection-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Re_Assign_Owner</name>
        <label>Re-Assign Owner</label>
        <locationX>359</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>Addendum.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addendum.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addendum.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Re_Assign</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Addendum Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Addendum Rejection</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Task_Create</name>
        <label>Task Create</label>
        <locationX>298</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Re_Assign_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Administrative/Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Rejection_Details_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Addendum.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Addendum Not Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AddendumID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>AddendumLookup</name>
        <label>AddendumLookup</label>
        <locationX>141</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Create</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddendumID</elementReference>
            </value>
        </filters>
        <object>Addendum__c</object>
        <outputReference>Addendum</outputReference>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Re_Assign</name>
        <label>Re-Assign</label>
        <locationX>181</locationX>
        <locationY>436</locationY>
        <inputReference>Addendum</inputReference>
    </recordUpdates>
    <screens>
        <name>Rejection_Details</name>
        <label>Rejection Details</label>
        <locationX>247</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddendumLookup</targetReference>
        </connector>
        <fields>
            <name>Rejection_Details_Field</name>
            <fieldText>Rejection Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Rejection_Details</startElementReference>
    <variables>
        <name>Addendum</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Addendum__c</objectType>
    </variables>
    <variables>
        <name>AddendumID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
