src.1/flows/Assist_Request_for_ICU_Target-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Create_a_Task_on_the_Target</name>
        <choiceText>Create a Task on the Target</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Do_nothing</name>
        <choiceText>Do nothing</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>786</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Create_a_Task1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_Task_on_the_Target</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Task_Record_Type</targetReference>
            </connector>
            <label>Create a Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_a_Task_0</name>
        <label>Create a Task</label>
        <locationX>789</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Create_a_Task1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_Task_on_the_Target</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Task_Record_Type</targetReference>
            </connector>
            <label>Create a Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_there_been_an_assist_request</name>
        <label>Has there been an assist request</label>
        <locationX>387</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>Additional_Info_for_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Target</defaultConnectorLabel>
        <rules>
            <name>Assist_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssistRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assist Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assist_Previously_Requested</targetReference>
            </connector>
            <label>Assist requested</label>
        </rules>
        <rules>
            <name>Proactively_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssistRequested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Target Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assist_Previously_Requested_0</targetReference>
            </connector>
            <label>Proactively created</label>
        </rules>
    </decisions>
    <description>Allows the CE Rep to request assistance and Round Robins the assignment</description>
    <dynamicChoiceSets>
        <name>AccountsContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assist Request for ICU Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assist Request for ICU Target</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_on_Target</name>
        <label>Create Task on Target</label>
        <locationX>962</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Administrative/Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTargetOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSupportTaskID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varTargetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>OfficeContact</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>New_Target</name>
        <label>New Target</label>
        <locationX>386</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Update_Oppty_to_Target_Requested</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Target_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assist_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Notes_for_ICU_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>ICU Target for {!varAccountName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varTargetOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varICURecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Save_Opportunity__c</field>
            <value>
                <elementReference>varSaveOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ICU_Target__c</object>
    </recordCreates>
    <recordLookups>
        <name>CS_Round_Robin_ICU_Record_ID</name>
        <label>CS Round Robin ICU Record ID</label>
        <locationX>384</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICU_Rep_Round_Robin</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ICU</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_Round_Robin__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varICURoundRobin</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ICU_Rep_Round_Robin</name>
        <label>ICU Rep Round Robin</label>
        <locationX>382</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Target</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varICURoundRobin</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varTargetOwnerID</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTargetOwnerName</assignToReference>
            <field>Rep_Name__c</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ICU_Target_Lookup</name>
        <label>ICU Target Lookup</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Target_Owner_Name</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varICURecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Save_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSaveOpptyID</elementReference>
            </value>
        </filters>
        <object>ICU_Target__c</object>
        <outputAssignments>
            <assignToReference>varTargetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTargetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTargetOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTargetStatus</assignToReference>
            <field>Target_Status__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Support_Task_Record_Type</name>
        <label>Support Task Record Type</label>
        <locationX>957</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Info_Gather_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varSupportTaskID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Target_Owner_Name</name>
        <label>Target Owner Name</label>
        <locationX>175</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_there_been_an_assist_request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTargetOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varTargetOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Target_Record_ID_Lookup</name>
        <label>Target Record ID Lookup</label>
        <locationX>175</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ICU_Target_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ICU</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICU_Target__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varICURecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty_to_Target_Requested</name>
        <label>Update Oppty to Target Requested</label>
        <locationX>384</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSaveOpptyID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assist_Requested__c</field>
            <value>
                <stringValue>Assist Needed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Additional_Info_for_Target</name>
        <label>Additional Info for Target</label>
        <locationX>386</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CS_Round_Robin_ICU_Record_ID</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Please enter any notes you would like to pass on for the ICU Rep.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Notes_for_ICU_Rep</name>
            <fieldText>Notes for ICU Rep</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Assist_Previously_Requested</name>
        <label>Assist Previously Requested</label>
        <locationX>601</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Task</targetReference>
        </connector>
        <fields>
            <name>PreviouslyRequested</name>
            <fieldText>A Target has already been requested ({!varTargetName}).  The Target is assigned to {!varTargetOwnerName} and has a status of {!varTargetStatus}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Would_you_like_to</name>
            <choiceReferences>Create_a_Task_on_the_Target</choiceReferences>
            <choiceReferences>Do_nothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Assist_Previously_Requested_0</name>
        <label>Assist Previously Requested</label>
        <locationX>600</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_Task_0</targetReference>
        </connector>
        <fields>
            <name>PreviouslyRequested_0</name>
            <fieldText>A Target was proactively created ({!varTargetName}).  The Target is assigned to {!varTargetOwnerName} and has a status of {!varTargetStatus}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Would_you_like_to_0</name>
            <choiceReferences>Create_a_Task_on_the_Target</choiceReferences>
            <choiceReferences>Do_nothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Create_Target_Error</name>
        <label>Create Target Error</label>
        <locationX>558</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>383</locationX>
        <locationY>775</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TargetCreationSuccess</name>
            <fieldText>The Target has been successfully created!  You may close this window at any time.

Target Name: ICU Target for {!varAccountName}
Target Owner: {!varTargetOwnerName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Task_Info_Gather_Screen</name>
        <label>Task Info Gather Screen</label>
        <locationX>959</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task_on_Target</targetReference>
        </connector>
        <fields>
            <name>Task_Subject</name>
            <dataType>String</dataType>
            <fieldText>Task Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>OfficeContact</name>
            <choiceReferences>AccountsContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>965</locationX>
        <locationY>428</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>Thank you!  A Task has been created for {!varTargetOwnerName}.  Please contact them if you have any questions.  You may now close this window.

Thanks!</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Target_Record_ID_Lookup</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssistRequested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varICURecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varICURoundRobin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSaveOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSupportTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
