src.1/flows/Case_and_Optional_Call_for_ICU-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contact_Phone_number</name>
        <label>Contact Phone number</label>
        <locationX>589</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>varContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Create</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assigned</name>
        <choiceText>Assigned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assigned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Fixed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Inbound_Call</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_a_call</name>
        <label>Create a call</label>
        <locationX>213</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Was_the_case_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Call</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Log_a_call_as_well</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Creation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>187</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>New_Case_Existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Info</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_case_closed</name>
        <label>Was the case closed?</label>
        <locationX>263</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Exit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Resolution_to_Fixed</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <description>Creates a case for ICU and an Option to add a call</description>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Case and Optional Call for ICU</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Call_Creation</name>
        <label>Call Creation</label>
        <locationX>469</locationX>
        <locationY>706</locationY>
        <assignRecordIdToReference>Call_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Was_the_case_closed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>Inbound_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_Create</name>
        <label>Contact Create</label>
        <locationX>415</locationX>
        <locationY>388</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>New_Case_Existing_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Case_Existing_Contact</name>
        <label>New Case Existing Contact</label>
        <locationX>208</locationX>
        <locationY>443</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_call</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ICU_Target__c</field>
            <value>
                <elementReference>varICUTarget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Description__c</field>
            <value>
                <elementReference>Case_Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>191</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Gather_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZip</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Updated_Resolution_to_Fixed</name>
        <label>Updated Resolution to Fixed</label>
        <locationX>271</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>Fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Call_Creation_Screen</name>
        <label>Call Creation Screen</label>
        <locationX>460</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Creation</targetReference>
        </connector>
        <fields>
            <name>Call_Subject</name>
            <dataType>String</dataType>
            <fieldText>Call Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Call_Description</name>
            <defaultValue>
                <elementReference>Case_Description</elementReference>
            </defaultValue>
            <fieldText>Call Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Call_Gather_Screen</name>
        <label>Call Gather Screen</label>
        <locationX>187</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>Help_Text</name>
            <fieldText>You are creating a new Support Case and Inbound Call for {!AccountName} at {!varPhone}.

Please enter the case and call information below:</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>CaseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>This Subject may be sent to the customer as part of a Post-Case Survey.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Status</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Assigned</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Office_Contact</name>
            <choiceReferences>Contacts</choiceReferences>
            <choiceReferences>New_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Case Descriptions is too long.  Please reduce the length under 255 characters</errorMessage>
                <formulaExpression>LEN({!Case_Description})&lt;550</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Case_Resolution</name>
            <fieldText>Case Resolution Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Case Resolution is too long.  Please reduce it to under 255 characters.</errorMessage>
                <formulaExpression>LEN({!Case_Resolution})&lt;550</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Log_a_call_as_well</name>
            <dataType>Boolean</dataType>
            <fieldText>Log a call as well?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Check if you would like to record a call as well</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>412</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Phone_number</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>Enter Contact Info</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Email is not a valid email address.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <helpText>You are currently creating a new Contact that will be associated with the account that you came from.</helpText>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>477</locationX>
        <locationY>910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_You</name>
            <fieldText>Thank you for creating a Case and Call.  Please click on Finish to be redirected to {!AccountName}&#39;s Account Page.

Thank you.

Case Subject: {!Case_Subject}

Call Subject:</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Call_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varICUTarget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varObjectforPicklists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RecordType</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
