src.1/flows/Case_and_Call_creation-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contact_Phone_number</name>
        <label>Contact Phone number</label>
        <locationX>1272</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>varContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Create</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Administrative</name>
        <choiceText>Administrative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assigned</name>
        <choiceText>Assigned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assigned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Technical</name>
        <choiceText>Technical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <constants>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>Completed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Fixed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed</stringValue>
        </value>
    </constants>
    <constants>
        <name>Inbound_Call</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Call</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>844</locationX>
        <locationY>40</locationY>
        <defaultConnector>
            <targetReference>Does_the_Contact_have_an_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Info</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Contact_have_an_email</name>
        <label>Does the Contact have an email</label>
        <locationX>848</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Email_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs an email</defaultConnectorLabel>
        <rules>
            <name>Has_an_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>New_Case_Existing_Contact</targetReference>
            </connector>
            <label>Has an email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_email_entered</name>
        <label>Was an email entered</label>
        <locationX>440</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email entered</defaultConnectorLabel>
        <rules>
            <name>Not_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_an_email_Contact_Doesnt_Have_One</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>New_Case_Existing_Contact</targetReference>
            </connector>
            <label>Not entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_case_closed</name>
        <label>Was the case closed?</label>
        <locationX>855</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Exit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Resolution_to_Fixed</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <description>Creation of a one call resolved Case and the associated Call - Radio Buttons.  Includes contact email collection</description>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Feature_Choice</name>
        <dataType>String</dataType>
        <displayField>Dependent_field_Value__c</displayField>
        <filters>
            <field>Controlling_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_field_Value__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Screen_1_Case_Category</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Features_Options__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>Flow_Dependent_Picklist__mdt</object>
        <valueField>Dependent_field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Main_Issue_Choice</name>
        <dataType>String</dataType>
        <displayField>Dependent_field_Value__c</displayField>
        <filters>
            <field>Controlling_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Features_Options__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_field_Value__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Screen_2_Feature</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main_Issue__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Controlling_Field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Category__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Controlling_Field_Value__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Screen_1_Case_Category</elementReference>
            </value>
        </filters>
        <object>Flow_Dependent_Picklist__mdt</object>
        <valueField>Dependent_field_Value__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Case and Call creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case and Call creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Call_Creation</name>
        <label>Call Creation</label>
        <locationX>651</locationX>
        <locationY>666</locationY>
        <assignRecordIdToReference>Call_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Was_the_case_closed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>Inbound_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Call_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_Create</name>
        <label>Contact Create</label>
        <locationX>1269</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>New_Case_Existing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Case_Existing_Contact</name>
        <label>New Case Existing Contact</label>
        <locationX>629</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Call_Creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Screen_1_Case_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Features_Options__c</field>
            <value>
                <elementReference>Screen_2_Feature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Issue__c</field>
            <value>
                <elementReference>Sceen_3_Main_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Description__c</field>
            <value>
                <elementReference>Case_Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>49</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Gather_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZip</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>284</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>New_Case_Existing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Add_an_email_Contact_Doesnt_Have_One</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Resolution_to_Fixed</name>
        <label>Updated Resolution to Fixed</label>
        <locationX>1099</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>Fixed</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Call_Gather_Screen</name>
        <label>Call Gather Screen</label>
        <locationX>257</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Feature_Option</targetReference>
        </connector>
        <fields>
            <name>Help_Text</name>
            <fieldText>You are creating a new Support Case and Inbound Call for {!AccountName} at {!varPhone}.

Please enter the case and call information below:</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>This Subject may be sent to the customer as part of a Post-Case Survey.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Status</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Assigned</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Screen_1_Case_Category</name>
            <choiceReferences>Administrative</choiceReferences>
            <choiceReferences>Training</choiceReferences>
            <choiceReferences>Technical</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Training</defaultSelectedChoiceReference>
            <fieldText>Case Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Office_Contact</name>
            <choiceReferences>Contacts</choiceReferences>
            <choiceReferences>New_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Office Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Case/Call Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Case Descriptions is too long.  Please reduce the length under 255 characters</errorMessage>
                <formulaExpression>LEN({!Case_Description})&lt;550</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Case_Resolution</name>
            <fieldText>Case Resolution Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Case Resolution is too long.  Please reduce it to under 255 characters.</errorMessage>
                <formulaExpression>LEN({!Case_Resolution})&lt;550</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Call_Subject</name>
            <dataType>String</dataType>
            <fieldText>Call Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Contact_Info</name>
        <label>Contact Info</label>
        <locationX>1112</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Phone_number</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>Enter Contact Info</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please only add an email if it is the contacts own email and not an office wide email</helpText>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered for Email is not a valid email address.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <helpText>You are currently creating a new Contact that will be associated with the account that you came from.</helpText>
    </screens>
    <screens>
        <name>Email_update</name>
        <label>Email update</label>
        <locationX>630</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_an_email_entered</targetReference>
        </connector>
        <fields>
            <name>CollectEmail</name>
            <fieldText>There is no email address for {!Office_Contact}.  If the Contact has their own email and not just the Office email, please enter it below.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Add_an_email_Contact_Doesnt_Have_One</name>
            <dataType>String</dataType>
            <fieldText>Add an email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>293</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>An error occurred.  Please contact your Salesforce Administrator with the following error message:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>1097</locationX>
        <locationY>671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_You</name>
            <fieldText>Thank you for creating a Case and Call.  Please click on Finish to be redirected to {!AccountName}&#39;s Account Page.

Thank you.

Case Subject: {!Case_Subject}
Case Category: {!Screen_1_Case_Category}
Case Feature: {!Screen_2_Feature}
Case Main Issue: {!Sceen_3_Main_Issue}

Call Subject: {!Call_Subject}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Feature_Option</name>
        <label>Feature/Option</label>
        <locationX>447</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Main_Issue_Screen</targetReference>
        </connector>
        <fields>
            <name>CategoryDisplayText</name>
            <fieldText>You selected the {!Screen_1_Case_Category} Category, if this is incorrect press Previous and change the Category.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Screen_2_Feature</name>
            <choiceReferences>Feature_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feature</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Main_Issue_Screen</name>
        <label>Main Issue Screen</label>
        <locationX>632</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>FeatureDisplay</name>
            <fieldText>You selected {!Screen_2_Feature}, if this is incorrect press Previous and change the Feature.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Sceen_3_Main_Issue</name>
            <choiceReferences>Main_Issue_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Main Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Account_Lookup</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Call_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Contacts Email</description>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
