src.1/flows/Closed_Retention_Oppportunity_Flow-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Annual_Cancel_Result</name>
        <label>Annual Cancel Result</label>
        <locationX>755</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Annual_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>Annual_Saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Save</targetReference>
            </connector>
            <label>Annual Saved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Request_Type</name>
        <label>Cancel Request Type</label>
        <locationX>504</locationX>
        <locationY>80</locationY>
        <defaultConnectorLabel>Reactivate</defaultConnectorLabel>
        <rules>
            <name>Annual_Cancel_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annual_Cancel_Result</targetReference>
            </connector>
            <label>Annual Cancel Path</label>
        </rules>
        <rules>
            <name>Trial_Cancel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCancelRequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Cancel_Result</targetReference>
            </connector>
            <label>Trial Cancel Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Cancel_Result</name>
        <label>Trial Cancel Result</label>
        <locationX>257</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>Trial_Cancel_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>Trial_Saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trail_Save</targetReference>
            </connector>
            <label>Trial Saved</label>
        </rules>
        <rules>
            <name>Trial_No_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_No_Sale_Case</targetReference>
            </connector>
            <label>Trial No Sale</label>
        </rules>
    </decisions>
    <description>Creates the correct Accounting record when a Retention Opportunity is Closed</description>
    <label>Closed Retention Oppportunity Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Annual_Cancel</name>
        <label>Annual Cancel</label>
        <locationX>657</locationX>
        <locationY>393</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varNotestoAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gi00000034JUX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Annual Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Annual Cancel - Turn off any Renewals</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Annual_Save</name>
        <label>Annual Save</label>
        <locationX>872</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varNotestoAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Annual Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005i0000002gn9T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dyv0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Trail_Save</name>
        <label>Trail Save</label>
        <locationX>379</locationX>
        <locationY>391</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varNotestoAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Trial Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005i0000002gn9T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dyv0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Trial_Cancel_Case</name>
        <label>Trial Cancel Case</label>
        <locationX>68</locationX>
        <locationY>385</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varNotestoAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gi00000034JUX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Trial Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Trial Cancel - Refund MSF</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Trial_No_Sale_Case</name>
        <label>Trial No Sale</label>
        <locationX>231</locationX>
        <locationY>388</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varNotestoAccounting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gi00000034JUX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>No-Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EALv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Trial No Sale - Refund MSF and Setup</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <startElementReference>Cancel_Request_Type</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCancelRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNotestoAccounting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
