src.1/flows/Communty_Guidelines-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>I_accept</name>
        <choiceText>I accept</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Has_the_user_already_accepted</name>
        <label>Has the user already accepted</label>
        <locationX>212</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Community_Guidlines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Send to Terms and Conditions</defaultConnectorLabel>
        <rules>
            <name>Already_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Accepted_Community_Guidelines__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Accepted</label>
        </rules>
    </decisions>
    <formulas>
        <name>vAccepted</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Accepted_Community_Guidelines__c}</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Communty Guidelines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communty Guidelines</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>210</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_user_already_accepted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Accepted_Community_Guidelines__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>219</locationX>
        <locationY>442</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepted_Community_Guidelines__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Community_Guidlines</name>
        <label>Community Guidlines</label>
        <locationX>213</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>CommunityGuidelines</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I understand &amp;amp; agree to follow the &lt;A HREF=&quot;https://solutionreach.force.com/SRCustomer/s/communityguidelines&quot; TARGET=&quot;_blank&quot;&gt;Community Guidelines&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Accept</name>
            <choiceReferences>I_accept</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;I understand &amp;amp; agree to follow the &lt;A HREF=&quot;https://solutionreach.force.com/SRCustomer/s/communityguidelines&quot; TARGET=&quot;_blank&quot;&gt;Community Guidelines&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Find_User</startElementReference>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>solutionreach.my.salesforce.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
