src.1/flows/Create_New_Case_with_Contact-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Accounting</name>
        <choiceText>Accounting</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varAccounting_Record_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>Administrative</name>
        <choiceText>Administrative</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Check_Up</name>
        <choiceText>Check-Up</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_CheckUp_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dentrix_1</name>
        <choiceText>Dentrix 1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Dentrix_2</name>
        <choiceText>Dentrix 2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Feature_Enhancement</name>
        <choiceText>Feature Enhancement</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_Feature_Enhancement</elementReference>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contact</name>
        <choiceText>New Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Onboarding</name>
        <choiceText>Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VarOnboarding_Record_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>Queue</name>
        <choiceText>Queue</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Support</name>
        <choiceText>Support</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Support_Record_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>Sync_List_Case</name>
        <choiceText>Sync List Case</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varSyncListCase</elementReference>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>User</name>
        <choiceText>User</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </constants>
    <decisions>
        <name>New_Contact_Choice</name>
        <label>New Contact Choice</label>
        <locationX>139</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Case_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>Create_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact_Screen</targetReference>
            </connector>
            <label>Create New Contact</label>
        </rules>
    </decisions>
    <description>This allows the CSR to select the contact associated with the case when creating a new case.</description>
    <dynamicChoiceSets>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <displayField>PickListLabel__c</displayField>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PicklistFieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFieldName</elementReference>
            </value>
        </filters>
        <object>PicklistForFlow__c</object>
        <valueField>PickListValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChooseContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactRoles</name>
        <dataType>String</dataType>
        <displayField>Role</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>AccountContactRole</object>
        <valueField>Role</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00ei0000000cDfB</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Create New Case with Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_Create</name>
        <label>Case Create</label>
        <locationX>149</locationX>
        <locationY>482</locationY>
        <assignRecordIdToReference>NewCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>672</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>ContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>varZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>varStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Address_Lookup</name>
        <label>Account Address Lookup</label>
        <locationX>633</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varBillingAddress</assignToReference>
            <field>BillingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCountry</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZip</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Case_Create_Error</name>
        <label>Case Create Error</label>
        <locationX>319</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactErrorScreen_0</name>
            <fieldText>There was a problem creating the case.  Please see Matthew Schetselaar with the following information:

Account ID: {!AccountID}
Contact ID: {!ContactID}


As a temporary work around try creating the contact first and then adding the case again.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Case_Created</name>
        <label>Case Created</label>
        <locationX>102</locationX>
        <locationY>645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for creating your case.  Click finish to be redirected to your case.

Subject: {!Case_Subject}
Case Number: {!NewCaseID}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>151</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Selection_Screen</targetReference>
        </connector>
        <fields>
            <name>Case_Type_Picklist</name>
            <choiceReferences>Support</choiceReferences>
            <choiceReferences>Accounting</choiceReferences>
            <choiceReferences>Check_Up</choiceReferences>
            <choiceReferences>Feature_Enhancement</choiceReferences>
            <choiceReferences>Onboarding</choiceReferences>
            <choiceReferences>Sync_List_Case</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Support</defaultSelectedChoiceReference>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Contact_Create_Error</name>
        <label>Contact Create Error</label>
        <locationX>622</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactErrorScreen</name>
            <fieldText>There was a problem creating a Contact.  Please see Matthew Schetselaar with the following information:

Account ID: {!AccountID}
Contact ID: {!ContactID}
Address: {!varStreet}
{!varCity}, {!varState} {!varCountry} {!varZip}

As a temporary work around try creating the contact first and then adding the case again.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Contact_Selection_Screen</name>
        <label>Contact Selection Screen</label>
        <locationX>146</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Contact_Choice</targetReference>
        </connector>
        <fields>
            <name>ContactsFoundDescription</name>
            <fieldText>Please choose a contact below that you are working with on this case.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Status</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Contacts</name>
            <choiceReferences>ChooseContactChoice</choiceReferences>
            <choiceReferences>New_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contacts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Create_New_Contact_Screen</name>
        <label>Create New Contact</label>
        <locationX>392</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Address_Lookup</targetReference>
        </connector>
        <fields>
            <name>EnterContactInfo</name>
            <fieldText>Please enter the Contact&#39;s information below:</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The value you entered is not a correct email address.</errorMessage>
                <formulaExpression>REGEX({!Email_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Case_Type</startElementReference>
    <variables>
        <description>Account ID</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>001i000000rGPs9</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Support_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001EALy</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_CheckUp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001Dnj0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Feature_Enhancement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001EALx</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccounting_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001EALv</stringValue>
        </value>
    </variables>
    <variables>
        <name>varBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Status</stringValue>
        </value>
    </variables>
    <variables>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarOnboarding_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001Dnil</stringValue>
        </value>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSyncListCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012i0000001EAmd</stringValue>
        </value>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
