src.1/flows/Create_Sync_Down_Case-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>427</locationX>
        <locationY>418</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>An error as occured with the Semi-automatic Sync Case Flow
Account ID: {!varAccountID}
Primary Owner ID: {!varPrimaryOwnerID}
Primary Load: {!varPrimaryLoad}
Primary RRID: {!varPrimaryRRID}
Secondary Owner ID: {!varSecondaryOwnerID}
Secondary Load: {!varSecondaryLoad}
Secondary RRID: {!varSecondaryRRID}
Team Assignment: {!varTeamAssignment}
Today: {!varToday}
Decision Primary: {!Primary}
Decision Secondary: {!Secondary}
Fault Message: {!$Flow.FaultMessage}

Thank You</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There&#39;s been an error with the Sync Case Creation Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Primary_or_Secondary</name>
        <label>Primary or Secondary</label>
        <locationX>747</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Clear_Account_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimaryLoad</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varSecondaryLoad</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Case_Creation</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSecondaryLoad</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varPrimaryLoad</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Case_Creation_0</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
    </decisions>
    <description>Creates a Sync Down Case based on most available rep from Primary and Secondary Team</description>
    <interviewLabel>Create Sync Down Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sync Down Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Sync_Case_Creation</name>
        <label>Sync Case Creation</label>
        <locationX>959</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Clear_Account_Checkbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Technical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Last Sync Date - {!varLastSync}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varPrimaryOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>SR Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSyncCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!varTimezone} Sync Down - {!varToday}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Rep_Round_Robin__c</field>
            <value>
                <elementReference>varPrimaryRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics__c</field>
            <value>
                <stringValue>Sync Down</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Sync_Case_Creation_0</name>
        <label>Sync Case Creation</label>
        <locationX>760</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>Clear_Account_Checkbox</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Technical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Last Sync Date - {!varLastSync}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSecondaryOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>SR Sync</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varSyncCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!varTimezone} Sync Down - {!varToday}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Rep_Round_Robin__c</field>
            <value>
                <elementReference>varSecondaryRRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics__c</field>
            <value>
                <stringValue>Sync Down</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Most_available_Secondary_Tech_Rep</name>
        <label>Find Most available Secondary Tech Rep</label>
        <locationX>578</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_or_Secondary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTechRepRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Secondary_Sync_Team_to_work__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSecondaryRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryLoad</assignToReference>
            <field>Load__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryOwnerID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Most_available_Tech_Rep</name>
        <label>Find Most available Primary Tech Rep</label>
        <locationX>411</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Most_available_Secondary_Tech_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Sync_Team_to_work__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTechRepRecordID</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varPrimaryRRID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryLoad</assignToReference>
            <field>Load__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryOwnerID</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Sync_Case_Record_ID</name>
        <label>Find Sync Case Record ID</label>
        <locationX>52</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Tech_Rep_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sync List Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varSyncCaseRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Tech_Rep_Record_ID</name>
        <label>Find Tech Rep Record ID</label>
        <locationX>218</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Most_available_Tech_Rep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tech Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_Round_Robin__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varTechRepRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Account_Checkbox</name>
        <label>Clear Account Checkbox</label>
        <locationX>962</locationX>
        <locationY>258</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Sync_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Find_Sync_Case_Record_ID</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastSync</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryLoad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrimaryOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSecondaryLoad</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSecondaryOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSecondaryRRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSyncCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTechRepRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
