src.1/flows/HealthgradesFlow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexCreateOpp</name>
        <label>ApexCreateOpp</label>
        <locationX>1434</locationX>
        <locationY>1172</locationY>
        <actionName>OpportunityUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateOpportunityLineItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>opps</name>
            <value>
                <elementReference>objOpportunity</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varHGOpportunityId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assignContractURL</name>
        <label>assignProductionContractURL</label>
        <locationX>364</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>varBaseContractURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HealthgradesSetting.productionContractUrl__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMSFId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractURL_0</name>
        <label>assignSandboxContractURL</label>
        <locationX>364</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>varBaseContractURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HealthgradesSetting.sandboxContractUrl__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMSFId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContractStartDate</name>
        <label>setContractStartDate</label>
        <locationX>1438</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>objOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HGRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.RecurSoft__Contract_Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.RecurSoft__Contract_Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunity.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProviderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexCreateOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppNameforNewContact</name>
        <label>setOppNameforNewContact</label>
        <locationX>348</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>varOppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInputName1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_HG_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppNameforNewContact_0</name>
        <label>setOppNameforNewContact</label>
        <locationX>503</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>varOppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenInputName2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_HG_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOppNameforNewContact_0_0</name>
        <label>setOppNameforNewContact</label>
        <locationX>857</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>varOppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HGOppName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_HG_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>Create New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>HealthgradesRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012f00000000WaH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ActiveSubscription</name>
        <label>ActiveSubscription</label>
        <locationX>776</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Existing_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupOpp</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionContactInfoCorrect</name>
        <label>decisionContactInfoCorrect</label>
        <locationX>857</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>setOppNameforNewContact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_2_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Answer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Contact_Information</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionContactSyncedWithIntacct</name>
        <label>decisionContactSyncedWithIntacct</label>
        <locationX>684</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>CreateContact_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_2_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactSyncedWithIntacct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContact</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionExistingProvider</name>
        <label>decisionExistingProvider</label>
        <locationX>881</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>decisionExistingProviderPremium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProviderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProvider</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionExistingProviderPremium</name>
        <label>decisionExistingProviderPremium</label>
        <locationX>704</locationX>
        <locationY>1056</locationY>
        <defaultConnector>
            <targetReference>AlreadyPremium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProviderIsPremium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenHGOpp</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>EligibleVertical</name>
        <label>EligibleVertical</label>
        <locationX>644</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>getHGProductId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotEligible</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingContactChosen</name>
        <label>ExistingContactChosen</label>
        <locationX>683</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>ExistingContactInfoCorrect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact_Information</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProduction</name>
        <label>isProduction</label>
        <locationX>191</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>assignContractURL_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>isProductionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HealthgradesSetting.isProduction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractURL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>providerOnOpenOpps</name>
        <label>providerOnOpenOpps</label>
        <locationX>880</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>deleteExistingHGOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False_2_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHGOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProvider</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceExistingContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRelatedContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactSyncedWithIntacct</assignToReference>
            <field>RecurSoft__Synced_With_Intacct__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>ContractStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!varContractStartDate} &gt;= today(), 
{!varContractStartDate} , 
IF( Date(Year(today()),month(today()), day({!varContractStartDate})) &gt;= today(), 
Date(Year(today()),month(today()), day({!varContractStartDate})), 
Date(Year(today()),month(today())+1, day({!varContractStartDate}))))</expression>
    </formulas>
    <formulas>
        <name>CustomLabel1</name>
        <dataType>String</dataType>
        <expression>$Label.HealthgradesFlow</expression>
    </formulas>
    <formulas>
        <name>CustomLabel2</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Healthgrades_not_Customer</expression>
    </formulas>
    <formulas>
        <name>CustomLabel3</name>
        <dataType>String</dataType>
        <expression>$Label.Healthgrades_Flow_Contacts_Instructions</expression>
    </formulas>
    <formulas>
        <name>CustomLabel4</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Healthgrades_Already_Premium</expression>
    </formulas>
    <formulas>
        <name>CustomLabel5</name>
        <dataType>String</dataType>
        <expression>$Label.Healthgrades_Flow_Success_Screen</expression>
    </formulas>
    <formulas>
        <name>CustomLabel6</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Non_Healthgrades_Vertical</expression>
    </formulas>
    <formulas>
        <name>HGOppName</name>
        <dataType>String</dataType>
        <expression>&quot;Healthgrades - &quot; &amp; {!varContactFirstName} &amp; &quot; &quot; &amp; {!varContactLastName}</expression>
    </formulas>
    <formulas>
        <name>providerName</name>
        <dataType>String</dataType>
        <expression>&quot;Provider - &quot; &amp; {!varContactFirstName} &amp; &quot; &quot; &amp; {!varContactLastName}</expression>
    </formulas>
    <formulas>
        <name>ScreenInputName1</name>
        <dataType>String</dataType>
        <expression>&quot;Healthgrades - &quot; &amp; {!First_Name} &amp; &quot; &quot; &amp; {!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>ScreenInputName2</name>
        <dataType>String</dataType>
        <expression>&quot;Healthgrades - &quot; &amp; {!First_Name_1} &amp; &quot; &quot; &amp; {!Last_Name_1}</expression>
    </formulas>
    <interviewLabel>HealthgradesFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HealthgradesFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>347</locationX>
        <locationY>742</locationY>
        <assignRecordIdToReference>varRelatedContactId</assignRecordIdToReference>
        <connector>
            <targetReference>setOppNameforNewContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateContact_2</name>
        <label>CreateContact</label>
        <locationX>507</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>varRelatedContactId</assignRecordIdToReference>
        <connector>
            <targetReference>setOppNameforNewContact_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_1</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunityLineItem</name>
        <label>CreateOpportunityLineItem</label>
        <locationX>1445</locationX>
        <locationY>1282</locationY>
        <assignRecordIdToReference>varOppLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varHGOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>varHGProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>varProviderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurSoft__Renewal_Rule__c</field>
            <value>
                <elementReference>varRenewalRule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>varPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProvider</name>
        <label>CreateProvider</label>
        <locationX>1079</locationX>
        <locationY>1059</locationY>
        <assignRecordIdToReference>varProviderId</assignRecordIdToReference>
        <connector>
            <targetReference>OpportunityClone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Healthgrades_ID__c</field>
            <value>
                <elementReference>Healthgrades_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPI__c</field>
            <value>
                <elementReference>NPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>providerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varRelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Provider__c</object>
    </recordCreates>
    <recordDeletes>
        <name>deleteExistingHGOpp</name>
        <label>deleteExistingHGOpp</label>
        <locationX>879</locationX>
        <locationY>1307</locationY>
        <connector>
            <targetReference>updateProvider</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHGOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <name>ExistingProvider</name>
        <label>ExistingProvider</label>
        <locationX>878</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionExistingProvider</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2</targetReference>
        </faultConnector>
        <filters>
            <field>Healthgrades_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Healthgrades_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>NPI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NPI</elementReference>
            </value>
        </filters>
        <object>Provider__c</object>
        <outputAssignments>
            <assignToReference>varProviderId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProviderIsPremium</assignToReference>
            <field>Premium_Member__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContractURL</name>
        <label>getContractURL</label>
        <locationX>190</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isProduction</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HealthgradesSettings</stringValue>
            </value>
        </filters>
        <object>AppAdminAPI_Settings__c</object>
        <outputAssignments>
            <assignToReference>HealthgradesSetting.isProduction__c</assignToReference>
            <field>isProduction__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HealthgradesSetting.productionContractUrl__c</assignToReference>
            <field>productionContractUrl__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HealthgradesSetting.sandboxContractUrl__c</assignToReference>
            <field>sandboxContractUrl__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getHGProductId</name>
        <label>getHGProductId</label>
        <locationX>779</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupActiveSubscription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3005</stringValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>varHGProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrice</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getHGRecordTypeId</name>
        <label>getHGRecordTypeId</label>
        <locationX>188</locationX>
        <locationY>2</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContractURL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Healthgrades</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>HGRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMSFId</name>
        <label>getMSFId</label>
        <locationX>507</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebook</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3000</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>MSFId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBaseURL</assignToReference>
            <field>SFDCBaseURL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>643</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EligibleVertical</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPricebookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>varPricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupActiveSubscription</name>
        <label>LookupActiveSubscription</label>
        <locationX>951</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupRenewalRule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0</targetReference>
        </faultConnector>
        <filters>
            <field>RecurSoft__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecurSoft__Billing_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecurSoft__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MSFId</elementReference>
            </value>
        </filters>
        <object>RecurSoft__Product_Subscription__c</object>
        <outputAssignments>
            <assignToReference>varContractEndDate</assignToReference>
            <field>RecurSoft__Contract_Term_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractStartDate</assignToReference>
            <field>RecurSoft__Contract_Term_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>RecurSoft__Related_Opportunity__c</field>
        </outputAssignments>
        <sortField>RecurSoft__Contract_Term_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupOpp</name>
        <label>LookupOpp</label>
        <locationX>852</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRenewalRule</name>
        <label>LookupRenewalRule</label>
        <locationX>956</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActiveSubscription</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>RecurSoft__Renewal_Rule_Firendly_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Recurring Rule</stringValue>
            </value>
        </filters>
        <object>RecurSoft__Renewal_Rule__c</object>
        <outputAssignments>
            <assignToReference>varRenewalRule</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpenHGOpp</name>
        <label>OpenHGOpp</label>
        <locationX>697</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>providerOnOpenOpps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProviderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecurSoft__Product_Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>varHGOpportunityId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>OpportunityClone</name>
        <label>OpportunityClone</label>
        <locationX>1276</locationX>
        <locationY>1063</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setContractStartDate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>objOpportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecurSoft__Bill_to_Account__c</queriedFields>
        <queriedFields>RecurSoft__Billing_Contact__c</queriedFields>
        <queriedFields>RecurSoft__Contract_Term_End_Date__c</queriedFields>
        <queriedFields>RecurSoft__Renewal_Rule__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>686</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>setOppNameforNewContact_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2_2_2_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelatedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_1</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateProvider</name>
        <label>updateProvider</label>
        <locationX>1078</locationX>
        <locationY>1188</locationY>
        <connector>
            <targetReference>OpportunityClone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Debug_1_2_2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProviderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Premium_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Account__c</field>
            <value>
                <elementReference>varBillToAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varRelatedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Provider__c</object>
    </recordUpdates>
    <screens>
        <name>AlreadyPremium</name>
        <label>AlreadyPremium</label>
        <locationX>515</locationX>
        <locationY>1055</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CustomLabel4Display</name>
            <fieldText>{!CustomLabel4}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2</name>
        <label>Debug</label>
        <locationX>1078</locationX>
        <locationY>1306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2</name>
        <label>Debug</label>
        <locationX>1077</locationX>
        <locationY>951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2_0</name>
        <label>Debug</label>
        <locationX>592</locationX>
        <locationY>9</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2_0</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2_0_0</name>
        <label>Debug</label>
        <locationX>165</locationX>
        <locationY>852</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2_0_0</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2_0_0_0</name>
        <label>Debug</label>
        <locationX>702</locationX>
        <locationY>1306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2_0_0_0</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2_0_0_0_0</name>
        <label>Debug</label>
        <locationX>1615</locationX>
        <locationY>1173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2_0_0_0_0</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Debug_1_2_2_2_2_0_1</name>
        <label>Debug</label>
        <locationX>1048</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1_2_2_2_2_0_1</name>
            <fieldText>The following error has occured:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Existing_Contact_Information</name>
        <label>Existing Contact Information</label>
        <locationX>681</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionContactSyncedWithIntacct</targetReference>
        </connector>
        <fields>
            <name>ContactInformation_1</name>
            <fieldText>Provider Contact Information</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>First_Name_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Last_Name_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Phone_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactPhone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Existing_Contacts</name>
        <label>Existing Contacts</label>
        <locationX>687</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExistingContactChosen</targetReference>
        </connector>
        <fields>
            <name>ContactInformation_0</name>
            <fieldText>{!CustomLabel3}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Existing_Contacts_0</name>
            <choiceReferences>choiceExistingContacts</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Existing Contacts</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>ExistingContactInfoCorrect</name>
        <label>ExistingContactInfoCorrect</label>
        <locationX>857</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionContactInfoCorrect</targetReference>
        </connector>
        <fields>
            <name>IsItCorrect</name>
            <fieldText>Is the following contact information correct?</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>ExistingContactInfo</name>
            <fieldText>First Name: {!varContactFirstName}

Last Name: {!varContactLastName}

Email: {!varContactEmail}

Phone: {!varContactPhone}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>BlankSpace1</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Answer</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>1616</locationX>
        <locationY>1281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Finished_0</targetReference>
        </connector>
        <fields>
            <name>CustomLabel5Display</name>
            <fieldText>{!CustomLabel5}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Success</name>
            <fieldText>{!varBaseContractURL}/HealthgradesContractReview?id={!varProviderId}&amp;oppId={!varHGOpportunityId}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>NewOppLink</name>
            <fieldText>Healthgrades Opportunity Link:
{!varBaseURL}{!varHGOpportunityId}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Finished_0</name>
        <label>Finished</label>
        <locationX>1773</locationX>
        <locationY>1282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CustomLabel5Display_0</name>
            <fieldText>{!CustomLabel5}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Success_0</name>
            <fieldText>{!varBaseContractURL}/HealthgradesContractReview?id={!varProviderId}&amp;oppId={!varHGOpportunityId}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>NewOppLink_0</name>
            <fieldText>Healthgrades Opportunity Link:
{!varBaseURL}{!varHGOpportunityId}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Instructions</name>
        <label>Instructions</label>
        <locationX>45</locationX>
        <locationY>3</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getHGRecordTypeId</targetReference>
        </connector>
        <fields>
            <name>CustomLabel1Display</name>
            <fieldText>{!CustomLabel1}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>New_Contact_Information</name>
        <label>New Contact Information</label>
        <locationX>353</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
        <fields>
            <name>ContactInformation</name>
            <fieldText>Provider Contact Information</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>New_HG_Information</name>
        <label>New HG Information</label>
        <locationX>720</locationX>
        <locationY>946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExistingProvider</targetReference>
        </connector>
        <fields>
            <name>HealthgradesInfo_1</name>
            <fieldText>Healthgrades Information</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Healthgrades_ID</name>
            <dataType>String</dataType>
            <fieldText>Healthgrades URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>Please enter the complete Healthgrades URL</errorMessage>
                <formulaExpression>REGEX(Healthgrades_ID,&quot;^((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NPI</name>
            <dataType>String</dataType>
            <fieldText>NPI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <validationRule>
                <errorMessage>The NPI must be a 10-digit number</errorMessage>
                <formulaExpression>LEN(NPI) = 10 &amp;&amp; ISNUMBER(NPI)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>NotEligible</name>
        <label>Not an Eligible Provider</label>
        <locationX>521</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactInformation_0_1</name>
            <fieldText>{!CustomLabel6}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Instructions</startElementReference>
    <variables>
        <name>HealthgradesSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AppAdminAPI_Settings__c</objectType>
    </variables>
    <variables>
        <name>HGRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAccountSubVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBaseContractURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactSyncedWithIntacct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHGOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHGProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricebookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProviderIsPremium</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRenewalRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
