src.1/flows/Incentive_Fulfillment_Creating_Flow-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Address_Creation</name>
        <label>Address Creation</label>
        <locationX>348</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>varAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!varAddress} {!varCity}, {!varState} {!varZipCode}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Name_of_Incentive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amazon_Assignment</name>
        <label>Amazon Assignment</label>
        <locationX>895</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>varAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amazon_Gift_Card_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amazon</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Starbucks_Gift_Card_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AmEx_Amount_Assignment</name>
        <label>AmEx Amount Assignment</label>
        <locationX>894</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>varAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmExAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>American Express</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Card_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Department</name>
        <label>Assign Department</label>
        <locationX>358</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>varDepartment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_for_Sales_or_Client_Success</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_or_Support_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>iTunes_Amount_Assignment</name>
        <label>iTunes Amount Assignment</label>
        <locationX>899</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>varAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iTunesAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iTunes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Card_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Starbucks_iTunes_Amount_Assignment</name>
        <label>Starbucks/iTunes Amount Assignment</label>
        <locationX>902</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>varAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StarbucksITunesAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Starbucks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Starbucks_Gift_Card_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Starbucks_iTunes_Amount_Assignment_0</name>
        <label>Starbucks/iTunes Amount Assignment</label>
        <locationX>909</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>varAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StarbucksITunesAmount_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGiftCardType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Starbucks</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Starbucks_Gift_Card_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Name_of_Incentive</name>
        <label>Update Name of Incentive</label>
        <locationX>452</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>varIncentiveName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Gift_Card_or_Promo_Item} for {!varIncentiveName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Card_or_Promo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Name_of_Incentive_0</name>
        <label>CS Alternative Refund</label>
        <locationX>525</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>varIncentiveName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alternative Refund for {!varIncentiveName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gift_Card_Screen_4_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Info_Assignment</name>
        <label>Updated Info Assignment</label>
        <locationX>1430</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>varAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sales_or_Support_Decision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Info_Assignment_1</name>
        <label>Updated Info Assignment</label>
        <locationX>1436</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>varAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Email_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_or_Support_Decision_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Client_Success</name>
        <choiceText>Client Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Success</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gift_Card</name>
        <choiceText>Gift Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gift Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_need_to_update_this</name>
        <choiceText>I need to update this</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promotional_Item</name>
        <choiceText>Promotional Item</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>$10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$10</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100</name>
        <choiceText>$100</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$100</stringValue>
        </value>
    </choices>
    <choices>
        <name>X20</name>
        <choiceText>$20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$20</stringValue>
        </value>
    </choices>
    <choices>
        <name>X200</name>
        <choiceText>$200</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$200</stringValue>
        </value>
    </choices>
    <choices>
        <name>X25</name>
        <choiceText>$25</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$25</stringValue>
        </value>
    </choices>
    <choices>
        <name>X35</name>
        <choiceText>$35</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$35</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>$5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$5</stringValue>
        </value>
    </choices>
    <choices>
        <name>X50</name>
        <choiceText>$50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>$50</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Gift_Card_or_Promo</name>
        <label>Gift Card or Promo</label>
        <locationX>534</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Gift_Card_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_or_Promo_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Card_Screen</targetReference>
            </connector>
            <label>Gift Card</label>
        </rules>
        <rules>
            <name>Promo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_or_Promo_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promo_Screen</targetReference>
            </connector>
            <label>Promo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Card_Type</name>
        <label>Gift Card Type</label>
        <locationX>529</locationX>
        <locationY>668</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Starbucks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Starbucks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Starbucks_Amount_Screen</targetReference>
            </connector>
            <label>Starbucks</label>
        </rules>
        <rules>
            <name>American_Express</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>American Express</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>American_Express_Amount</targetReference>
            </connector>
            <label>American Express</label>
        </rules>
        <rules>
            <name>iTunes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iTunes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iTunes_Amount_Screen</targetReference>
            </connector>
            <label>iTunes</label>
        </rules>
        <rules>
            <name>Amazon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amazon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amazon_Screen</targetReference>
            </connector>
            <label>Amazon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_Card_Type_4_CS</name>
        <label>Gift Card Type 4 CS</label>
        <locationX>529</locationX>
        <locationY>763</locationY>
        <defaultConnectorLabel>Other/Not Listed</defaultConnectorLabel>
        <rules>
            <name>Starbucks_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Starbucks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Starbucks_4_CS</targetReference>
            </connector>
            <label>Starbucks</label>
        </rules>
        <rules>
            <name>American_Express_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>American Express</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>American_Express_Amount</targetReference>
            </connector>
            <label>American Express</label>
        </rules>
        <rules>
            <name>iTunes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iTunes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iTunes_Amount_Screen</targetReference>
            </connector>
            <label>iTunes</label>
        </rules>
        <rules>
            <name>CS_Amazon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gift_Card_2_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amazon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amazon_Screen</targetReference>
            </connector>
            <label>CS Amazon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Opportunity_Account</name>
        <label>Lead/Opportunity/Account</label>
        <locationX>17</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Account_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Lookup</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oppty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Lookup</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_or_Support_Decision</name>
        <label>Sales or Support Decision</label>
        <locationX>352</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Update_Name_of_Incentive_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client Success</defaultConnectorLabel>
        <rules>
            <name>Sales_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promo_or_Gift_Card</targetReference>
            </connector>
            <label>Sales Department</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_or_Support_Decision_0</name>
        <label>Sales or Support Decision</label>
        <locationX>1326</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Incentive_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client Success</defaultConnectorLabel>
        <rules>
            <name>Sales_Department_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepartment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Incentive_Creation</targetReference>
            </connector>
            <label>Sales Department</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_No_Updated</name>
        <label>Update or No Updated</label>
        <locationX>1212</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Sales_or_Support_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Need to update</defaultConnectorLabel>
        <rules>
            <name>Need_to_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_information_Correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_information_Correct_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_or_Email</targetReference>
            </connector>
            <label>Need to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_No_Updated_1</name>
        <label>Update or No Updated</label>
        <locationX>1206</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>Sales_or_Support_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Need to update</defaultConnectorLabel>
        <rules>
            <name>Need_to_update_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_information_Correct_Starbucks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_information_Correct_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_or_Email_1</targetReference>
            </connector>
            <label>Need to update</label>
        </rules>
    </decisions>
    <description>Creates an Incentive Item to be sent.</description>
    <dynamicChoiceSets>
        <name>GiftCardAmount</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gift_Card_Amount__c</picklistField>
        <picklistObject>Incentive__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftCardPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gift_Card__c</picklistField>
        <picklistObject>Incentive__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PromotionalItem</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Promotional_Item__c</picklistField>
        <picklistObject>Incentive__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Incentive Fulfillment Creating Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incentive Fulfillment Creating Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Incentive_Creation</name>
        <label>CS Incentive Creation</label>
        <locationX>1216</locationX>
        <locationY>1008</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card__c</field>
            <value>
                <elementReference>varGiftCardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incentive_Notes__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varIncentiveName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotional_Item__c</field>
            <value>
                <elementReference>Promotional_Item_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Department__c</field>
            <value>
                <stringValue>Client Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>varAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_End_Date__c</field>
            <value>
                <elementReference>varTrialEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Incentive__c</object>
    </recordCreates>
    <recordCreates>
        <name>Sales_Incentive_Creation</name>
        <label>Sales Incentive Creation</label>
        <locationX>1376</locationX>
        <locationY>1005</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card_Amount__c</field>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Card__c</field>
            <value>
                <elementReference>varGiftCardType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varIncentiveName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotional_Item__c</field>
            <value>
                <elementReference>Promotional_Item_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Department__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>varAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_End_Date__c</field>
            <value>
                <elementReference>varTrialEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Incentive__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>192</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_or_Support</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAcctID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIncentiveName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>RecurSoft__Billing_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZipCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddress</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_Lookup_0</name>
        <label>Account Lookup</label>
        <locationX>189</locationX>
        <locationY>793</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_or_Support</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varIncentiveName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>RecurSoft__Billing_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZipCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddress</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>194</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_or_Support</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIncentiveName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varZipCode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varState</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddress</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Lookup</name>
        <label>Opportunity Lookup</label>
        <locationX>190</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Lookup_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varAcctID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpptyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTrialEndDate</assignToReference>
            <field>RecurSoft__Trial_End_Date1__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Amazon_Screen</name>
        <label>Amazon Screen</label>
        <locationX>735</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amazon_Assignment</targetReference>
        </connector>
        <fields>
            <name>Amazon_Gift_Card_Amount</name>
            <choiceReferences>X25</choiceReferences>
            <choiceReferences>X50</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amazon Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>American_Express_Amount</name>
        <label>American Express</label>
        <locationX>730</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AmEx_Amount_Assignment</targetReference>
        </connector>
        <fields>
            <name>AmExAmount</name>
            <choiceReferences>X25</choiceReferences>
            <choiceReferences>X50</choiceReferences>
            <choiceReferences>X100</choiceReferences>
            <choiceReferences>X200</choiceReferences>
            <dataType>String</dataType>
            <fieldText>American Express Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>396</locationX>
        <locationY>1255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultScreen</name>
            <fieldText>The following error has occured: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Gift_Card_Confirmation</name>
        <label>Gift Card Confirmation</label>
        <locationX>1116</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_or_No_Updated</targetReference>
        </connector>
        <fields>
            <name>GiftCardConfirm</name>
            <fieldText>The {!varAmount} {!Gift_Card_2} Gift Card will be mailed to:

{!varAddress}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Is_this_information_Correct</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>I_need_to_update_this</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this information Correct</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Gift_Card_Screen</name>
        <label>Gift Card Screen</label>
        <locationX>533</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gift_Card_Type</targetReference>
        </connector>
        <fields>
            <name>Gift_Card_2</name>
            <choiceReferences>GiftCardPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Card</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Gift_Card_Screen_4_CS</name>
        <label>Gift Card Screen 4 CS</label>
        <locationX>529</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gift_Card_Type_4_CS</targetReference>
        </connector>
        <fields>
            <name>Gift_Card_2_0</name>
            <choiceReferences>GiftCardPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Card</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>Please provide a brief note to be included with this Gift Card</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>iTunes_Amount_Screen</name>
        <label>iTunes Amount Screen</label>
        <locationX>734</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>iTunes_Amount_Assignment</targetReference>
        </connector>
        <fields>
            <name>iTunesAmount</name>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <dataType>String</dataType>
            <fieldText>iTunes Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Promo_or_Gift_Card</name>
        <label>Promo or Gift Card</label>
        <locationX>349</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_Creation</targetReference>
        </connector>
        <fields>
            <name>Gift_Card_or_Promo_Item</name>
            <choiceReferences>Gift_Card</choiceReferences>
            <choiceReferences>Promotional_Item</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Card or Promo Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Promo_Screen</name>
        <label>Promo Screen</label>
        <locationX>737</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Promotion_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Promotional_Item_1</name>
            <choiceReferences>PromotionalItem</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Promotional Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Promotion_Confirmation</name>
        <label>Promotion Confirmation</label>
        <locationX>971</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_or_No_Updated</targetReference>
        </connector>
        <fields>
            <name>GiftCardConfirm_0</name>
            <fieldText>The {!Promotional_Item_1} will be shippped to:

{!varAddress}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Is_this_information_Correct_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>I_need_to_update_this</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this information Correct</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Sales_or_Support</name>
        <label>Sales or Client Success</label>
        <locationX>361</locationX>
        <locationY>897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Department</targetReference>
        </connector>
        <fields>
            <name>Is_this_for_Sales_or_Client_Success</name>
            <choiceReferences>Sales</choiceReferences>
            <choiceReferences>Client_Success</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this for Sales or Client Success?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Starbucks_4_CS</name>
        <label>Starbucks 4 CS</label>
        <locationX>739</locationX>
        <locationY>927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Starbucks_iTunes_Amount_Assignment_0</targetReference>
        </connector>
        <fields>
            <name>HelpTextforStarbucks_0</name>
            <fieldText>Typically we send $10 Starbucks cards unless a promo has gone out.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>StarbucksITunesAmount_0</name>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <choiceReferences>X25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Starbucks_Amount_Screen</name>
        <label>Starbucks Amount Screen</label>
        <locationX>741</locationX>
        <locationY>836</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Starbucks_iTunes_Amount_Assignment</targetReference>
        </connector>
        <fields>
            <name>HelpTextforStarbucks</name>
            <fieldText>Typically we send $10 Starbucks cards unless a promo has gone out.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>StarbucksITunesAmount</name>
            <choiceReferences>X10</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <choiceReferences>X25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gift Card Amount</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Starbucks_Gift_Card_Confirmation</name>
        <label>Starbucks Gift Card Confirmation</label>
        <locationX>1114</locationX>
        <locationY>826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_or_No_Updated_1</targetReference>
        </connector>
        <fields>
            <name>GiftCardConfirm_1</name>
            <fieldText>The {!varAmount} {!Gift_Card_2} Gift Card will be emailed to:

{!varEmail}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Is_this_information_Correct_Starbucks</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>I_need_to_update_this</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this information Correct</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Update_Address_or_Email</name>
        <label>Update Address or Email</label>
        <locationX>1430</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Updated_Info_Assignment</targetReference>
        </connector>
        <fields>
            <name>Updated_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAddress</elementReference>
            </defaultValue>
            <fieldText>Updated Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Update_Address_or_Email_1</name>
        <label>Update Address or Email</label>
        <locationX>1442</locationX>
        <locationY>911</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Updated_Info_Assignment_1</targetReference>
        </connector>
        <fields>
            <name>Updated_Address_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAddress</elementReference>
            </defaultValue>
            <fieldText>Updated Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Updated_Email_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varEmail</elementReference>
            </defaultValue>
            <fieldText>Updated Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Lead_Opportunity_Account</startElementReference>
    <variables>
        <name>varAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Needs to be Updated</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Saves the department of the Incentive</description>
        <name>varDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGiftCardType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIncentiveName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrialEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
