src.1/flows/Introducing_a_Feature_Product-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>419</locationX>
        <locationY>234</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There&#39;s been an error with an Introducing a Feature</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>158</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>varUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <description>With Thank You page</description>
    <dynamicChoiceSets>
        <name>Feature_Product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Introduction_to_Feature__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserFisrtName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Introducing a Feature/Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Introducing a Feature/Product</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>417</locationX>
        <locationY>109</locationY>
        <connector>
            <targetReference>Thank_you_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Results__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>Introduction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Introduction_to_Feature__c</field>
            <value>
                <elementReference>Please_select_a_Feature_Product_you_are_introducing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Introducing {!Please_select_a_Feature_Product_you_are_introducing}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>601</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>There&#39;s been an error while trying to create the Introduction Task.

Error Message: {!$Flow.FaultMessage}


Please go back and try again.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Select_a_Feature</name>
        <label>Select a Feature</label>
        <locationX>158</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_User_ID</targetReference>
        </connector>
        <fields>
            <name>Greeting</name>
            <fieldText>Hello {!UserFisrtName}, please select a Feature/Product you are introducing today.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Please_select_a_Feature_Product_you_are_introducing</name>
            <choiceReferences>Feature_Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feature or Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>601</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank you for Introducing {!Please_select_a_Feature_Product_you_are_introducing} today.  Your Introduction has been recorded.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Select_a_Feature</startElementReference>
    <textTemplates>
        <name>Email_Body</name>
        <text>There&#39;s been an error while trying to create an Introduction Task.

Error Message: {!$Flow.FaultMessage}
User ID: {!UserID}
Rep: {!UserFisrtName} {!UserLastName}
Account ID: {!varAccountID}
Feature/Product: {!Please_select_a_Feature_Product_you_are_introducing}</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
