src.1/flows/Link_Save_Oppty_to_PCU_Target-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>784</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>UpdateTargetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTarget</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_de_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Oppty_to_the_Target</name>
        <label>Assign the Oppty to the Target</label>
        <locationX>586</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>CurrentTarget.Save_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSaveOpptyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_12_Months</name>
        <label>Subtract 12 Months</label>
        <locationX>323</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>var12MonthsAgo</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_all_PCU_Targets_associated_with_the_Account</targetReference>
        </connector>
    </assignments>
    <description>Loops through all PCU Targets created within the last year and adds the Opportunity to all PCU Targets</description>
    <interviewLabel>Link Save Oppty to PCU Target {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Save Oppty to PCU Target</label>
    <loops>
        <name>Loop_de_Loop</name>
        <label>Loop de Loop</label>
        <locationX>696</locationX>
        <locationY>104</locationY>
        <assignNextValueToReference>CurrentTarget</assignNextValueToReference>
        <collectionReference>RelatedPCUTargets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Oppty_to_the_Target</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PCU_Targets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_PCU_Targets_associated_with_the_Account</name>
        <label>Lookup all PCU Targets associated with the Account</label>
        <locationX>500</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_de_Loop</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>var12MonthsAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPCURecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Save_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ICU_Target__c</object>
        <outputReference>RelatedPCUTargets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Save_Opportunity__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PCU_Record_Type_ID</name>
        <label>Lookup PCU Record Type ID</label>
        <locationX>139</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subtract_12_Months</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PCU Record</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPCURecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PCU_Targets</name>
        <label>Update PCU Targets</label>
        <locationX>963</locationX>
        <locationY>105</locationY>
        <inputReference>UpdateTargetList</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_PCU_Record_Type_ID</startElementReference>
    <variables>
        <name>CurrentTarget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ICU_Target__c</objectType>
    </variables>
    <variables>
        <name>RelatedPCUTargets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ICU_Target__c</objectType>
    </variables>
    <variables>
        <name>UpdateTargetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ICU_Target__c</objectType>
    </variables>
    <variables>
        <name>var12MonthsAgo</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPCURecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSaveOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
