src.1/flows/Onboarding_Round_Robin-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_already_open_email</name>
        <label>Case already open email</label>
        <locationX>815</locationX>
        <locationY>256</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Account ID: {!varAcct_ID}, Activation Case ID: {!varActCaseID}, Activation Case Owner ID: {!varAct_Case_OwnerID}, Team Assignment: {!varTeamAssignment}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Onboarding case was already created for {!BusinessName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>823</locationX>
        <locationY>407</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Error Message: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There&#39;s been an error for Onboarding Round Robin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_70_Day_Due_Date</name>
        <label>Assign 70 Day Due Date</label>
        <locationX>200</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Onboarding_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_a_Parent_but_Parent_has_no_SC</name>
        <label>Has a Parent but Parent has no SC</label>
        <locationX>1069</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>varAssignSCtoParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RR_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_SC_is_child_SC</name>
        <label>Parent SC is child SC</label>
        <locationX>1350</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>varAcct_SC_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPA_SC_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acct_SC_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_SC_Active</name>
        <label>Account SC Active</label>
        <locationX>336</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcct_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Case</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Open_Onboarding_Cases</name>
        <label>Any Open Onboarding Cases?</label>
        <locationX>565</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cases are open</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenOnboardingCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Account_have_a_Success_Coach</targetReference>
            </connector>
            <label>No Open Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_already_has_Final_Onboarding_Task</name>
        <label>Case already has Final Onboarding Task</label>
        <locationX>1162</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Create_a_task_for_Onboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Task</defaultConnectorLabel>
        <rules>
            <name>Has_a_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTasksCaseID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentOnboardingCase.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_to_create_Tasks</targetReference>
            </connector>
            <label>Has a Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Account_have_a_Success_Coach</name>
        <label>Does the Account have a Success Coach?</label>
        <locationX>96</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have a SC</defaultConnectorLabel>
        <rules>
            <name>Has_a_Success_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcct_SC_ID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Current_SC</targetReference>
            </connector>
            <label>Has a Success Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_account_have_a_team_Assignment</name>
        <label>Does this account have a team Assignment</label>
        <locationX>64</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Assign_70_Day_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has an assignment</defaultConnectorLabel>
        <rules>
            <name>No_Team_Assignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varTeamAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team_Assignment</targetReference>
            </connector>
            <label>No Team Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent_Account</name>
        <label>Is there a Parent Account</label>
        <locationX>341</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>RR_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_ID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Parent_SC</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Acct_SC_Active</name>
        <label>Parent Acct SC Active</label>
        <locationX>1065</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Has_a_Parent_but_Parent_has_no_SC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent SC</defaultConnectorLabel>
        <rules>
            <name>Parent_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_SC_is_child_SC</targetReference>
            </connector>
            <label>Parent is Active</label>
        </rules>
        <rules>
            <name>Parent_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_Lookup</targetReference>
            </connector>
            <label>Parent is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Parent_SC</name>
        <label>Update Parent SC?</label>
        <locationX>648</locationX>
        <locationY>834</locationY>
        <defaultConnector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&#39;t Update Parent</defaultConnectorLabel>
        <rules>
            <name>Update_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignSCtoParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_SC_Updated</targetReference>
            </connector>
            <label>Update Parent</label>
        </rules>
    </decisions>
    <description>Round Robins just the Onboarding Case to a Success Coach. Adds the RR info into the case</description>
    <interviewLabel>Onboarding Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Round Robin</label>
    <loops>
        <name>Loop_through_to_create_Tasks</name>
        <label>Loop through to create Tasks</label>
        <locationX>811</locationX>
        <locationY>126</locationY>
        <assignNextValueToReference>CurrentOnboardingCase</assignNextValueToReference>
        <collectionReference>OpenOnboardingCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_a_Final_Onboarding_Check_up_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_already_open_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task_for_Onboarding</name>
        <label>Create a task for Onboarding</label>
        <locationX>1406</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Create_Final_Onboarding_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_Onboarding_Task</name>
        <label>Create Final Onboarding Task</label>
        <locationX>1407</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Update_Onboarding_Case_to_Assigned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task</name>
        <label>Create new task</label>
        <locationX>337</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Create_new_task_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_0</name>
        <label>Create new task</label>
        <locationX>337</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Activation_Case_with_SC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Case</name>
        <label>Create Onboarding Case</label>
        <locationX>339</locationX>
        <locationY>774</locationY>
        <assignRecordIdToReference>varOnboardingCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_new_task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding Case for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success_Coach_Round_Robin__c</field>
            <value>
                <elementReference>varSuccessCoachID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_a_Final_Onboarding_Check_up_task</name>
        <label>Check for a Final Onboarding Check-up task</label>
        <locationX>989</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_already_has_Final_Onboarding_Task</targetReference>
        </connector>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varTasksCaseID</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Current_SC</name>
        <label>Lookup Current SC</label>
        <locationX>93</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_SC_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varAcct_SC_Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Onboarding_Cases</name>
        <label>Lookup Onboarding Cases</label>
        <locationX>343</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Open_Onboarding_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenOnboardingCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_SC</name>
        <label>Lookup Parent SC</label>
        <locationX>556</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Acct_SC_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPA_SC_Id</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varPA_SC_Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RR_Lookup</name>
        <label>RR Lookup</label>
        <locationX>782</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acct_SC_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varSuccessCoachID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuccessCoachName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAcct_SC_ID</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Acct_SC_Updated</name>
        <label>Acct SC Updated</label>
        <locationX>1043</locationX>
        <locationY>874</locationY>
        <connector>
            <targetReference>Update_Parent_SC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_SC_Updated</name>
        <label>Parent SC Updated</label>
        <locationX>834</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPA_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activation_Case_with_SC</name>
        <label>Update Activation Case with SC</label>
        <locationX>342</locationX>
        <locationY>1096</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Case_to_Assigned</name>
        <label>Update Onboarding Case to Assigned</label>
        <locationX>1061</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Does_this_account_have_a_team_Assignment</startElementReference>
    <subflows>
        <name>Assign_Team_Assignment</name>
        <label>Assign Team Assignment</label>
        <locationX>320</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Assign_70_Day_Due_Date</targetReference>
        </connector>
        <flowName>Account_Team_Assignment</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPM</name>
            <value>
                <elementReference>varPM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubVert</name>
            <value>
                <elementReference>varSubVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVertical</name>
            <value>
                <elementReference>varVertical</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varTeamAssignment</assignToReference>
            <name>varTeamAssignment</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOnboardingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenOnboardingCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var70DaysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account ID</description>
        <name>varAcct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account&#39;s Success Coach Active Status</description>
        <name>varAcct_SC_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Success Coach ID</description>
        <name>varAcct_SC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Implementation Rep ID</description>
        <name>varAct_Case_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignSCtoParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOnboardingCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parent Account ID</description>
        <name>varPA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Account Success Coach Active checkbox</description>
        <name>varPA_SC_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Account Success Coach ID</description>
        <name>varPA_SC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuccessCoachName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTasksCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account&#39;s Team Assignment</description>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
