src.1/flows/Onboarding_Round_Robin-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>1301</locationX>
        <locationY>628</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Error Message: {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>There&#39;s been an error for Onboarding Round Robin</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_70_Day_Due_Date</name>
        <label>Assign 70 Day Due Date</label>
        <locationX>36</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Onboarding_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_a_Parent_but_Parent_has_no_SC</name>
        <label>Has a Parent but Parent has no SC</label>
        <locationX>1040</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>varAssignSCtoParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RR_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_SC_is_child_SC</name>
        <label>Parent SC is child SC</label>
        <locationX>1307</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>varAcct_SC_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPA_SC_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acct_SC_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_SC_Active</name>
        <label>Account SC Active</label>
        <locationX>278</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcct_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Case</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Open_Onboarding_Cases</name>
        <label>Any Open Onboarding Cases?</label>
        <locationX>508</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Cases</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenOnboardingCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Account_have_a_Success_Coach</targetReference>
            </connector>
            <label>Open Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Account_have_a_Success_Coach</name>
        <label>Does the Account have a Success Coach?</label>
        <locationX>34</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have a SC</defaultConnectorLabel>
        <rules>
            <name>Has_a_Success_Coach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAcct_SC_ID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Current_SC</targetReference>
            </connector>
            <label>Has a Success Coach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Parent_Account</name>
        <label>Is there a Parent Account</label>
        <locationX>277</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>RR_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Has_a_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_ID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Parent_SC</targetReference>
            </connector>
            <label>Has a Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Acct_SC_Active</name>
        <label>Parent Acct SC Active</label>
        <locationX>721</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Has_a_Parent_but_Parent_has_no_SC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent SC</defaultConnectorLabel>
        <rules>
            <name>Parent_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_SC_is_child_SC</targetReference>
            </connector>
            <label>Parent is Active</label>
        </rules>
        <rules>
            <name>Parent_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPA_SC_Active</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_Lookup</targetReference>
            </connector>
            <label>Parent is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Parent_SC</name>
        <label>Update Parent SC?</label>
        <locationX>512</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&#39;t Update Parent</defaultConnectorLabel>
        <rules>
            <name>Update_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignSCtoParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_SC_Updated</targetReference>
            </connector>
            <label>Update Parent</label>
        </rules>
    </decisions>
    <description>Round Robins just the Onboarding Case to a Success Coach</description>
    <interviewLabel>Onboarding Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Round Robin</label>
    <loops>
        <name>Loop_through_to_create_Tasks</name>
        <label>Loop through to create Tasks</label>
        <locationX>714</locationX>
        <locationY>38</locationY>
        <assignNextValueToReference>CurrentOnboardingCase</assignNextValueToReference>
        <collectionReference>OpenOnboardingCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_task_for_Onboarding</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task_for_Onboarding</name>
        <label>Create a task for Onboarding</label>
        <locationX>1023</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Create_Final_Onboarding_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_Onboarding_Task</name>
        <label>Create Final Onboarding Task</label>
        <locationX>1301</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Update_Onboarding_Case_to_Assigned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task</name>
        <label>Create new task</label>
        <locationX>279</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Create_new_task_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_0</name>
        <label>Create new task</label>
        <locationX>279</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Update_Activation_Case_with_SC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Case</name>
        <label>Create Onboarding Case</label>
        <locationX>279</locationX>
        <locationY>415</locationY>
        <assignRecordIdToReference>varOnboardingCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_new_task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding Case for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Current_SC</name>
        <label>Lookup Current SC</label>
        <locationX>34</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_SC_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varAcct_SC_Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Onboarding_Cases</name>
        <label>Lookup Onboarding Cases</label>
        <locationX>278</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Open_Onboarding_Cases</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenOnboardingCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Parent_SC</name>
        <label>Lookup Parent SC</label>
        <locationX>509</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Acct_SC_Active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPA_SC_Id</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varPA_SC_Active</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RR_Lookup</name>
        <label>RR Lookup</label>
        <locationX>724</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acct_SC_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EMRV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varAcct_SC_ID</assignToReference>
            <field>Name_Safe_ID__c</field>
        </outputAssignments>
        <sortField>Load__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Acct_SC_Updated</name>
        <label>Acct SC Updated</label>
        <locationX>1040</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Update_Parent_SC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcct_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Parent_SC_Updated</name>
        <label>Parent SC Updated</label>
        <locationX>512</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Create_Onboarding_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPA_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activation_Case_with_SC</name>
        <label>Update Activation Case with SC</label>
        <locationX>39</locationX>
        <locationY>619</locationY>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Success_Coach__c</field>
            <value>
                <elementReference>varAcct_SC_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_Case_to_Assigned</name>
        <label>Update Onboarding Case to Assigned</label>
        <locationX>1030</locationX>
        <locationY>108</locationY>
        <connector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Assign_70_Day_Due_Date</startElementReference>
    <variables>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOnboardingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenOnboardingCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var70DaysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account ID</description>
        <name>varAcct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account&#39;s Success Coach Active Status</description>
        <name>varAcct_SC_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Success Coach ID</description>
        <name>varAcct_SC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Implementation Rep ID</description>
        <name>varAct_Case_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignSCtoParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOnboardingCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parent Account ID</description>
        <name>varPA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Account Success Coach Active checkbox</description>
        <name>varPA_SC_Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Account Success Coach ID</description>
        <name>varPA_SC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account&#39;s Team Assignment</description>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
