src.1/flows/Onboarding_Training_update-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Type_of_Training</name>
        <label>Type of Training</label>
        <locationX>346</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>PRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrainingType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PRT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_PRT</targetReference>
            </connector>
            <label>PRT</label>
        </rules>
        <rules>
            <name>Newsletter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrainingType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Newsletter</targetReference>
            </connector>
            <label>Newsletter</label>
        </rules>
        <rules>
            <name>SR_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrainingType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SR Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Portal</targetReference>
            </connector>
            <label>SR Portal</label>
        </rules>
        <rules>
            <name>Xtend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTrainingType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xtend/AP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Xtend</targetReference>
            </connector>
            <label>Xtend</label>
        </rules>
    </decisions>
    <description>Updates the case when an Onboarding Training Events is completed</description>
    <label>Onboarding Training update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Case_Newsletter</name>
        <label>Case Newsletter</label>
        <locationX>289</locationX>
        <locationY>282</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NL_Groups_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NL_Groups_Completed_Method__c</field>
            <value>
                <elementReference>varMethod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Portal</name>
        <label>Case Portal</label>
        <locationX>402</locationX>
        <locationY>283</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SR_Portal_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Portal_Completed_Method__c</field>
            <value>
                <elementReference>varMethod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_PRT</name>
        <label>Case PRT</label>
        <locationX>177</locationX>
        <locationY>281</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PRT_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRT_Completed_Method__c</field>
            <value>
                <elementReference>varMethod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Xtend</name>
        <label>Case Xtend</label>
        <locationX>515</locationX>
        <locationY>285</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Xtend_AP_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xtend_AP_Completed_Method__c</field>
            <value>
                <elementReference>varMethod</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Type_of_Training</startElementReference>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTrainingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
