src.1/flows/PCU_Creation-16.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Early_PCU</name>
        <choiceText>Early PCU</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Renewal_PCU</name>
        <choiceText>Renewal PCU</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Early_or_Renewal_Decision</name>
        <label>Early or Renewal Decision</label>
        <locationX>484</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal PCU</defaultConnectorLabel>
        <rules>
            <name>Early</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Early_or_Renewal_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Early_PCU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Account_1</targetReference>
            </connector>
            <label>Early PCU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Target_Decision</name>
        <label>Open Target Decision</label>
        <locationX>119</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Create_PCU_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Target</defaultConnectorLabel>
        <rules>
            <name>Open_Target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenTargetID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_0</targetReference>
            </connector>
            <label>Open Target</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Target_Decision_1</name>
        <label>Open Target Decision</label>
        <locationX>859</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Create_PCU_Target_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Target</defaultConnectorLabel>
        <rules>
            <name>Open_Target_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenTargetID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_0_1</targetReference>
            </connector>
            <label>Open Target</label>
        </rules>
    </decisions>
    <description>Creates a PCU Target based on Team and Call Assignment for both Early and Renewal PCU Targets, no Open Target Check</description>
    <interviewLabel>PCU Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PCU Creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PCU_Target</name>
        <label>Create PCU Target</label>
        <locationX>236</locationX>
        <locationY>508</locationY>
        <assignRecordIdToReference>varTargetID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Renewal PCU Target - {!varAcctName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCU_Type__c</field>
            <value>
                <stringValue>Renewal PCU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EM3l</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retention_Probability_Bucket__c</field>
            <value>
                <elementReference>varRetentionBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ICU_Target__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PCU_Target_0</name>
        <label>Create Early PCU Target</label>
        <locationX>746</locationX>
        <locationY>508</locationY>
        <assignRecordIdToReference>varTargetID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Early PCU Target - {!varAcctName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCU_Type__c</field>
            <value>
                <stringValue>Early PCU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EM3l</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ICU_Target__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>235</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PCU_Target</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>PCU_Call_Priority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAcctName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCallNumber</assignToReference>
            <field>PCU_Call_Priority__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRetentionBucket</assignToReference>
            <field>Retention_Probability_Bucket__c</field>
        </outputAssignments>
        <sortField>PCU_Call_Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_1</name>
        <label>Lookup Account</label>
        <locationX>745</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PCU_Target_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Early_PCU_Call_Priority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Team_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamAssignment</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varCallNumber</assignToReference>
            <field>Early_PCU_Call_Priority__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAcctName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRetentionBucket</assignToReference>
            <field>Retention_Probability_Bucket__c</field>
        </outputAssignments>
        <sortField>Early_PCU_Call_Priority__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Open_Targets_on_Account</name>
        <label>Lookup Open Targets on Account</label>
        <locationX>117</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Target_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ICU_Target__c</object>
        <outputAssignments>
            <assignToReference>varOpenTargetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Open_Targets_on_Account_1</name>
        <label>Lookup Open Targets on Account</label>
        <locationX>857</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Target_Decision_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ICU_Target__c</object>
        <outputAssignments>
            <assignToReference>varOpenTargetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>239</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallOrder0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallOrder0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0_1</name>
        <label>Update Account</label>
        <locationX>975</locationX>
        <locationY>193</locationY>
        <connector>
            <targetReference>Lookup_Account_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Early_PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallOrder0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_1</name>
        <label>Update Account</label>
        <locationX>749</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Early_PCU_Call_Priority__c</field>
            <value>
                <elementReference>varCallOrder0</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Early_or_Renewal</name>
        <label>Early or Renewal</label>
        <locationX>237</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Early_or_Renewal_Decision</targetReference>
        </connector>
        <fields>
            <name>EarlyorRenewalChoiceScreen</name>
            <fieldText>Please select if you would like an Early PCU (an account recently signed up), or a Renewal PCU ( an account the is close to their renewal period.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Early_or_Renewal_Choice</name>
            <choiceReferences>Early_PCU</choiceReferences>
            <choiceReferences>Renewal_PCU</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Early or Renewal</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Error_Page</name>
        <label>Error Page</label>
        <locationX>493</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EncounteredError</name>
            <fieldText>You&#39;ve encountered an error:

Account ID: {!varAccountID}
Account Name: {!varAcctName}
Call Number: {!varCallNumber}
Call Number blank: {!varCallOrder0}
Retention Bucket: {!varRetentionBucket}
Team Assignment: {!varTeamAssignment}
User ID: {!varUserID}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>491</locationX>
        <locationY>660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewPCUSuccess</name>
            <fieldText>Success!

You have created a new Target.  Click Finish to be taken to the new Target

Target ID: {!varTargetID}
Account: {!varAcctName}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Early_or_Renewal</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCallNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>10</scale>
    </variables>
    <variables>
        <name>varCallOrder0</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOpenTargetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRetentionBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
