src.1/flows/Picklist_Choice_Sample-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>getPicklValues</name>
        <label>getPicklValues</label>
        <locationX>309</locationX>
        <locationY>27</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>showAccountPicklists</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>getPicklValues_0</name>
        <label>getPicklValues</label>
        <locationX>319</locationX>
        <locationY>317</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>showLeadPicklists</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>getPicklValues_0_0</name>
        <label>getPicklValues</label>
        <locationX>311</locationX>
        <locationY>599</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>showUserTeam</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Get_Team_Picklist_Values</name>
        <label>Get Team Picklist Values</label>
        <locationX>598</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>vaFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support_Team_Assignment__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPicklValues_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getPicklistsforLead</name>
        <label>getPicklistsforLead</label>
        <locationX>589</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>vaFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPicklValues_0</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>dnGetPicklists</name>
        <dataType>String</dataType>
        <displayField>PickListValue__c</displayField>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PicklistFieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </filters>
        <object>PicklistForFlow__c</object>
        <valueField>PickListValue__c</valueField>
    </dynamicChoiceSets>
    <label>Picklist Choice Sample</label>
    <processType>Flow</processType>
    <screens>
        <name>showAccountPicklists</name>
        <label>showAccountPicklists</label>
        <locationX>312</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPicklistsforLead</targetReference>
        </connector>
        <fields>
            <name>Pick_Industry</name>
            <choiceReferences>dnGetPicklists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Industry</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>showLeadPicklists</name>
        <label>showLeadPicklists</label>
        <locationX>322</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Team_Picklist_Values</targetReference>
        </connector>
        <fields>
            <name>Pick_Status</name>
            <choiceReferences>dnGetPicklists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>showUserTeam</name>
        <label>showUserTeam</label>
        <locationX>307</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Pick_Status_0</name>
            <choiceReferences>dnGetPicklists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>getPicklValues</startElementReference>
    <variables>
        <name>vaFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Industry</stringValue>
        </value>
    </variables>
    <variables>
        <name>vaObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
</Flow>
