src.1/flows/Post_Case_Survey_Creation-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contact_phone_equals_Office_phone</name>
        <label>Contact phone equals Office phone</label>
        <locationX>200</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>varContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOfficePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Contact_have_an_email</name>
        <label>Does the Contact have an email?</label>
        <locationX>594</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Create_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has an email</defaultConnectorLabel>
        <rules>
            <name>No_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContactEmail</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Survey_0</targetReference>
            </connector>
            <label>No email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Contact</name>
        <label>Is there a Contact or email address?</label>
        <locationX>77</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Phone_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has a Contact</defaultConnectorLabel>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_ContactID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_empty</name>
        <label>Phone empty</label>
        <locationX>315</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Lookup_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactPhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Contact_phone_equals_Office_phone</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Creates a new Survey from which an invite can go out to the contact. Updated for Contacts without Phone numbers</description>
    <interviewLabel>Post Case Survey Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Case Survey Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>805</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>Survey_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>var_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subject__c</field>
            <value>
                <elementReference>Var_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>VarContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post Case: {!Var_CaseSubject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EDQk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>Var_RepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varSupportTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_0</name>
        <label>Create Survey</label>
        <locationX>806</locationX>
        <locationY>165</locationY>
        <assignRecordIdToReference>Survey_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>var_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subject__c</field>
            <value>
                <elementReference>Var_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>varBillingEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post Case: {!Var_CaseSubject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EDQk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>Var_RepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varSupportTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>432</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Contact_have_an_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RepID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSupportTeam</assignToReference>
            <field>Support_Team_Assignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>991</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Case_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1155</locationX>
        <locationY>106</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varContactPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Is_there_a_Contact</startElementReference>
    <variables>
        <name>SObjectSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>Survey_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ClosedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_RepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillingEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEligibleForSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastSentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOfficePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSupportTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
