src.1/flows/Post_Case_Survey_Creation-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Are_they_Eligible_for_a_Survey</name>
        <label>Are they Eligible for a Survey</label>
        <locationX>543</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Send_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEligibleForSurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_User</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Contact</name>
        <label>Is there a Contact or email address?</label>
        <locationX>177</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Lookup_Contact_Last_Survey_Sent_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has a Contact</defaultConnectorLabel>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_ContactID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarContactEmail</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_empty</name>
        <label>Phone empty</label>
        <locationX>425</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Are_they_Eligible_for_a_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactPhone</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Office_Phone</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Creates a new Survey from which an invite can go out to the contact. Updated for Contacts without Phone numbers</description>
    <label>Post Case Survey Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>237</locationX>
        <locationY>497</locationY>
        <assignRecordIdToReference>Survey_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>var_Case_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Subject__c</field>
            <value>
                <elementReference>Var_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>VarContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post Case: {!Var_CaseSubject}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001EDQk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>Var_RepID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Assignment__c</field>
            <value>
                <elementReference>varSupportTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact_Last_Survey_Sent_date</name>
        <label>Lookup Contact Last Survey Sent date</label>
        <locationX>50</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phone_empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varEligibleForSurvey</assignToReference>
            <field>Eligible_for_a_Survey__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Office_Phone</name>
        <label>Lookup Office Phone</label>
        <locationX>229</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_they_Eligible_for_a_Survey</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>383</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RepID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSupportTeam</assignToReference>
            <field>Support_Team_Assignment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>269</locationX>
        <locationY>612</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Case_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>304</locationX>
        <locationY>736</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varContactPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Is_there_a_Contact</startElementReference>
    <variables>
        <name>SObjectSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>Survey_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ClosedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_RepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEligibleForSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastSentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSupportTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
