src.1/flows/Post_Sale-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignCampaignIds</name>
        <label>assignCampaignIds</label>
        <locationX>168</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>listCampaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Referral_Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCampaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Trade_Show</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCampaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ESR_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCampaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Partner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listCampaignIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Other_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCampaigns</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <description>This form must be filled out after each sale in order to receive sales credit.  Please ask your Manager if you have any questions.</description>
    <dynamicChoiceSets>
        <name>AllOtherCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ReferralPartnerCampaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ESR Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cold Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Trade Show</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ESREventCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESR Event</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferralPartnerCampaign</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Referral Partner -</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TradeShowCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade Show</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Post Sale</label>
    <loops>
        <name>loopCampaigns</name>
        <label>loopCampaigns</label>
        <locationX>171</locationX>
        <locationY>284</locationY>
        <assignNextValueToReference>varCampaignId</assignNextValueToReference>
        <collectionReference>listCampaignIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createCampaignInfluence</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCampaignInfluence</name>
        <label>createCampaignInfluence</label>
        <locationX>577</locationX>
        <locationY>277</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>varCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Influence__c</object>
    </recordCreates>
    <screens>
        <name>PostSale</name>
        <label>PostSale</label>
        <locationX>370</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCampaignIds</targetReference>
        </connector>
        <fields>
            <name>Referral_Partner</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ReferralPartnerCampaign</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Referral Partner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Trade_Show</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>TradeShowCampaigns</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Trade Show</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>ESR_Event</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ESREventCampaigns</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>ESR Event</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Partner</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>PartnerCampaigns</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Partner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Blank4</name>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>All_Other_Campaigns</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>AllOtherCampaigns</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>All Other Campaigns</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>PostSale</startElementReference>
    <variables>
        <name>listCampaignIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>objCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
