src.1/flows/Pulse_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Risk_Decision</name>
        <label>Risk Decision</label>
        <locationX>180</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>No_Risk_Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Risks</defaultConnectorLabel>
        <rules>
            <name>Some_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Pulse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meta_Theme_Screen</targetReference>
            </connector>
            <label>Some Risk</label>
        </rules>
    </decisions>
    <description>Creates a Pulse for the Office</description>
    <dynamicChoiceSets>
        <name>Pulse_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pulse__c</picklistField>
        <picklistObject>Pulse__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Risk_Meta_Theme_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Risk_Meta_Theme__c</picklistField>
        <picklistObject>Pulse__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskReasonChoice</name>
        <dataType>String</dataType>
        <displayField>Dependent_field_Value__c</displayField>
        <filters>
            <field>Controlling_field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sub_Category</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pulse</stringValue>
            </value>
        </filters>
        <object>Flow_Risk_Cancel_Reasons__mdt</object>
        <valueField>Dependent_field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubCategoryChoice</name>
        <dataType>String</dataType>
        <displayField>Dependent_field_Value__c</displayField>
        <filters>
            <field>Controlling_field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Meta_Theme</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pulse</stringValue>
            </value>
        </filters>
        <object>Flow_Risk_Cancel_Reasons__mdt</object>
        <valueField>Dependent_field_Value__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Pulse Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pulse Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Risk_Pulse</name>
        <label>Create Risk Pulse</label>
        <locationX>624</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Update_Account_s_Current_Pulse</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pulse__c</field>
            <value>
                <elementReference>New_Pulse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Meta_Theme__c</field>
            <value>
                <elementReference>Risk_Meta_Theme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Reason__c</field>
            <value>
                <elementReference>Risk_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Sub_Category__c</field>
            <value>
                <elementReference>Sub_Category</elementReference>
            </value>
        </inputAssignments>
        <object>Pulse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Satisfied_Pulse</name>
        <label>Create Satisfied Pulse</label>
        <locationX>402</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>Update_Account_s_Current_Pulse</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pulse__c</field>
            <value>
                <elementReference>New_Pulse</elementReference>
            </value>
        </inputAssignments>
        <object>Pulse__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_s_Current_Pulse</name>
        <label>Update Account&#39;s Current Pulse</label>
        <locationX>511</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Finished_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Pulse_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Pulse__c</field>
            <value>
                <elementReference>New_Pulse</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>508</locationX>
        <locationY>778</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>There&#39;s been an error:
{!$Flow.FaultMessage}

Please contact your System Administrator for help.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Finished_Screen</name>
        <label>Finished Screen</label>
        <locationX>705</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndingScreenText</name>
            <fieldText>Thank you.  If you are in the console you may wish to close this tab.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Meta_Theme_Screen</name>
        <label>Meta-Theme Screen</label>
        <locationX>406</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sub_Category_Screen</targetReference>
        </connector>
        <fields>
            <name>Meta_Theme_Text</name>
            <fieldText>You selected {!New_Pulse}.

Please assign a Meta-Theme that best represents the Risk given.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Risk_Meta_Theme</name>
            <choiceReferences>Risk_Meta_Theme_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Risk Meta-Theme</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>No_Risk_Finish_Screen</name>
        <label>No Risk Finish Screen</label>
        <locationX>180</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Satisfied_Pulse</targetReference>
        </connector>
        <fields>
            <name>SatisfiedFinish</name>
            <fieldText>Thank you.  You selected {!New_Pulse}.  This will be recorded on the Account.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Risk_Finish_Screen</name>
        <label>Risk Finish Screen</label>
        <locationX>848</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Risk_Pulse</targetReference>
        </connector>
        <fields>
            <name>RiskFinishText</name>
            <fieldText>Thank you for updating the Pulse for this Account. 

Pulse: {!New_Pulse}
Meta-Theme: {!Risk_Meta_Theme}
Sub-Category: {!Sub_Category}
Risk Reason: {!Risk_Reason}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Risk_Reason_Screen</name>
        <label>Risk Reason Screen</label>
        <locationX>838</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Finish_Screen</targetReference>
        </connector>
        <fields>
            <name>RiskReasonInfo</name>
            <fieldText>You selected {!Sub_Category}.

Please select a Risk Reason</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Risk_Reason</name>
            <choiceReferences>RiskReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Risk Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>180</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Decision</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>Please select what you feel the office&#39;s satisfaction level is towards Solutionreach.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>New_Pulse</name>
            <choiceReferences>Pulse_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Pulse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Sub_Category_Screen</name>
        <label>Sub Category Screen</label>
        <locationX>615</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Reason_Screen</targetReference>
        </connector>
        <fields>
            <name>SubCategoryInfo</name>
            <fieldText>You selected {!Risk_Meta_Theme}.

Please select a Sub-Category.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Sub_Category</name>
            <choiceReferences>SubCategoryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub-Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Screen_1</startElementReference>
    <variables>
        <name>varAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
