src.1/flows/Ready_for_Onboarding_Task-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_70_Day_Due_Date</name>
        <label>Assign 70 Day Due Date</label>
        <locationX>253</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Today_s_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Today_s_Date</name>
        <label>Add 70 Days</label>
        <locationX>254</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>var70DaysDueDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>70.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Onboarding_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null</name>
        <label>Null?</label>
        <locationX>255</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenOnboardingCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Onboarding_Case</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <description>Creates a task for the Success Coach, sets Onboarding case as Assigned</description>
    <interviewLabel>Ready for Onboarding Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ready for Onboarding Task</label>
    <loops>
        <name>Loop_through_to_create_Tasks</name>
        <label>Loop through to create Tasks</label>
        <locationX>256</locationX>
        <locationY>494</locationY>
        <assignNextValueToReference>CurrentOnboardingCase</assignNextValueToReference>
        <collectionReference>OpenOnboardingCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_task_for_Onboarding</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task_for_Onboarding</name>
        <label>Create a task for Onboarding</label>
        <locationX>460</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Create_Final_Onboarding_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Final_Onboarding_Task</name>
        <label>Create Final Onboarding Task</label>
        <locationX>460</locationX>
        <locationY>633</locationY>
        <connector>
            <targetReference>Update_Onboarding_Case_to_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentOnboardingCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CurrentOnboardingCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task</name>
        <label>Create new task</label>
        <locationX>643</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Create_new_task_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!BusinessName} is ready for Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_0</name>
        <label>Create new task</label>
        <locationX>798</locationX>
        <locationY>361</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>var70DaysDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Final Onboarding Check-up for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOnboardingCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Case</name>
        <label>Create Onboarding Case</label>
        <locationX>457</locationX>
        <locationY>357</locationY>
        <assignRecordIdToReference>varOnboardingCaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_new_task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Onboarding Case for {!BusinessName}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Onboarding_Cases</name>
        <label>Lookup Onboarding Cases</label>
        <locationX>255</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001Dnil</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenOnboardingCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_Case_to_Assigned</name>
        <label>Update Onboarding Case to Assigned</label>
        <locationX>250</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>Loop_through_to_create_Tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOnboardingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Assign_70_Day_Due_Date</startElementReference>
    <variables>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentOnboardingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenOnboardingCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var70DaysDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOnboardingCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
