src.1/flows/ReferralPartnerCampaigns-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignContact_AccountIdstoCampaign</name>
        <label>assignContact/AccountIdstoCampaign</label>
        <locationX>426</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varNewCampaign.Related_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewCampaign.Related_Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPardotLead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existingCampaign</name>
        <label>existingCampaign</label>
        <locationX>408</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>createNewCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistingCampaign</defaultConnectorLabel>
        <rules>
            <name>CampaignExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCampaignName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>lookupExistingContact</targetReference>
            </connector>
            <label>CampaignExists</label>
        </rules>
    </decisions>
    <formulas>
        <name>frmlaNewReferralPartnerName</name>
        <dataType>String</dataType>
        <expression>&quot;Referral Partner - &quot; &amp; {!varPardotLead.FirstName} &amp; &quot; &quot; &amp; {!varPardotLead.LastName}</expression>
    </formulas>
    <label>ReferralPartnerCampaigns</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewCampaign</name>
        <label>createNewCampaign</label>
        <locationX>83</locationX>
        <locationY>264</locationY>
        <assignRecordIdToReference>newCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>lookupNewCampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varPardotLead.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <dateValue>2019-12-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>frmlaNewReferralPartnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>&quot;In Progress&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>&quot;Referral Partner&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>lookupExistingCampaign</name>
        <label>lookupExistingCampaign</label>
        <locationX>420</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existingCampaign</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmlaNewReferralPartnerName</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varNewCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingCampaignName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupExistingContact</name>
        <label>lookupExistingContact</label>
        <locationX>421</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignContact_AccountIdstoCampaign</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPardotLead.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>existingContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupNewCampaign</name>
        <label>lookupNewCampaign</label>
        <locationX>150</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupExistingContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varNewCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>506</locationX>
        <locationY>573</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finished</name>
            <defaultValue>
                <stringValue>A new campaign named {!frmlaNewReferralPartnerName} has been created.</stringValue>
            </defaultValue>
            <fieldText>Finished</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>lookupExistingCampaign</startElementReference>
    <variables>
        <name>existingCampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingContactAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varPardotLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
