src.1/flows/Sync_List_Case_Update-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Open_or_closed</name>
        <label>Case Open or closed</label>
        <locationX>204</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Opened_Sync_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opened</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Sync_Case</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <description>Updates the Account when a Sync Case is opened or closed</description>
    <label>Sync List Case Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Closed_Sync_Case</name>
        <label>Closed Sync Case</label>
        <locationX>327</locationX>
        <locationY>253</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Sync_List_Case__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Opened_Sync_Case</name>
        <label>Opened Sync Case</label>
        <locationX>153</locationX>
        <locationY>261</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Sync_List_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Case_Open_or_closed</startElementReference>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current Status of the Case</description>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
