src.1/flows/Target_Round_Robin_Assignment-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fault_Email_1</name>
        <label>Fault Email 1</label>
        <locationX>377</locationX>
        <locationY>221</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_there_a_Round_Robin_Record</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Fault Message: {!$Flow.FaultMessage}   +++  User ID: {!varUserID}, Target ID: {!varTargetID}, Round Robin ID: {!varRoundRobinID}, Record Type ID: {!varRecordTypeID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Test for Reassignment 1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Fault_Email_2</name>
        <label>Fault Email 2</label>
        <locationX>896</locationX>
        <locationY>82</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Fautl Message: {!$Flow.FaultMessage}   +++  User ID: {!varUserID}, Target ID: {!varTargetID}, Round Robin ID: {!varRoundRobinID}, Record Type ID: {!varRecordTypeID}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Test for Reassignment 2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>matt@solutionreach.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Is_there_a_Round_Robin_Record</name>
        <label>Is there a Round Robin Record</label>
        <locationX>478</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Create_New_Round_Robin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoundRobinID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Target</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Finds or creates an ICU Rep Record and adds it to the Target</description>
    <interviewLabel>Target Round Robin Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Target Round Robin Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Round_Robin</name>
        <label>Create New Round Robin</label>
        <locationX>726</locationX>
        <locationY>2</locationY>
        <assignRecordIdToReference>varRoundRobinID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Target</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Email_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Name__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>CS_Round_Robin__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_RecordID</name>
        <label>Lookup RecordID</label>
        <locationX>81</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Round_Robin</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICU Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_Round_Robin__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Round_Robin</name>
        <label>Lookup Round Robin</label>
        <locationX>266</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Round_Robin_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Email_1</targetReference>
        </faultConnector>
        <filters>
            <field>Name_Safe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeID</elementReference>
            </value>
        </filters>
        <object>CS_Round_Robin__c</object>
        <outputAssignments>
            <assignToReference>varRoundRobinID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target</name>
        <label>Update Target</label>
        <locationX>725</locationX>
        <locationY>99</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTargetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Round_Robin__c</field>
            <value>
                <elementReference>varRoundRobinID</elementReference>
            </value>
        </inputAssignments>
        <object>ICU_Target__c</object>
    </recordUpdates>
    <startElementReference>Lookup_RecordID</startElementReference>
    <variables>
        <name>varRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRoundRobinID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
