src.1/flows/Team_Reassignment-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Team_Assignment</name>
        <label>Team Assignment</label>
        <locationX>119</locationX>
        <locationY>562</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>User_Team_Assignment</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>varPicklistField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>varPicklistObject</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>Add_to_Group</name>
        <choiceText>Add to Group</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remove_from_Group</name>
        <choiceText>Remove from Group</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_or_Remove</name>
        <label>Add or Remove</label>
        <locationX>116</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Add_user_into_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add</defaultConnectorLabel>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Remove_from_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_user_part_of_that_group</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_membership</name>
        <label>Is there a membership</label>
        <locationX>482</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Remove_user_from_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Membership</defaultConnectorLabel>
        <rules>
            <name>No_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupMemberID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>User_not_in_group</targetReference>
            </connector>
            <label>No Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_User_s_Team_Assignment</name>
        <label>Update User&#39;s Team Assignment</label>
        <locationX>127</locationX>
        <locationY>908</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_reassign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Team_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This reassigns the queue and the team assignment</description>
    <dynamicChoiceSets>
        <name>FindUserID</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Name_of_User</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicGroupFind</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CS:</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectPublicGroup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Support</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGroupName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamAssignment</name>
        <dataType>String</dataType>
        <displayField>PickListLabel__c</displayField>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPicklistObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>PicklistFieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPicklistField</elementReference>
            </value>
        </filters>
        <object>PicklistForFlow__c</object>
        <sortField>PickListLabel__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>PickListValue__c</valueField>
    </dynamicChoiceSets>
    <label>Team Reassignment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_user_into_Public_Group</name>
        <label>Add user into Public Group</label>
        <locationX>120</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>Team_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Remove_user_from_Group</name>
        <label>Remove user from Group</label>
        <locationX>487</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Record_Deleted</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Is_this_user_part_of_that_group</name>
        <label>Is this user part of that group</label>
        <locationX>311</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_membership</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>varGroupMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Team_Assignment</name>
        <label>Team Assignment</label>
        <locationX>121</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_User_s_Team_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCurrentTeamAssignment</assignToReference>
            <field>Support_Team_Assignment__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Team_Assignment</name>
        <label>Update User Team Assignment</label>
        <locationX>127</locationX>
        <locationY>1054</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Support_Team_Assignment__c</field>
            <value>
                <elementReference>Support_Team_Assignment</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Change_User_s_Team_Assignment</name>
        <label>Change User&#39;s Team Assignment</label>
        <locationX>122</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User_s_Team_Assignment</targetReference>
        </connector>
        <fields>
            <name>ChangeAssignment</name>
            <fieldText>{!Select_User} is currently assinged to {!varCurrentTeamAssignment}.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Do_you_want_to_reassign</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Do you want to reassign {!Select_User}?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please check the box and select a team below to change the reps team assignment.</helpText>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Support_Team_Assignment</name>
            <choiceReferences>TeamAssignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Support Team Assignment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Enter_a_User_Name</name>
        <label>Enter a User Name</label>
        <locationX>110</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Public_Group_and_User</targetReference>
        </connector>
        <fields>
            <name>Name_of_User</name>
            <dataType>String</dataType>
            <fieldText>Name of User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Record_Deleted</name>
        <label>Record Deleted</label>
        <locationX>294</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Team_Assignment</targetReference>
        </connector>
        <fields>
            <name>Deleted</name>
            <fieldText>The User has been removed from the group</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Select_Public_Group_and_User</name>
        <label>Select Public Group and User</label>
        <locationX>114</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Remove</targetReference>
        </connector>
        <fields>
            <name>Select_Public_Group</name>
            <choiceReferences>PublicGroupFind</choiceReferences>
            <choiceReferences>Support</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Public Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Select_User</name>
            <choiceReferences>FindUserID</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Action</name>
            <choiceReferences>Add_to_Group</choiceReferences>
            <choiceReferences>Remove_from_Group</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>User_not_in_group</name>
        <label>The User was not part of the group</label>
        <locationX>480</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Public_Group_and_User</targetReference>
        </connector>
        <fields>
            <name>SelectDifferentGroup</name>
            <fieldText>{!varUserName} is not part of {!varGroupName}.
Please go to the next screen and select a different group.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Enter_a_User_Name</startElementReference>
    <variables>
        <name>varCurrentTeamAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklistField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Support_Team_Assignment__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPicklistObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>User</stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
