src.1/flows/Test_Login_Flow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>I_accept</name>
        <choiceText>I accept</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Logo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&#39;https://www.solutionreach.com/hubfs/assets/logos/SR-Dark.svg?t=1509058078285&#39; /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_the_user_already_accepted</name>
        <label>Has the user already accepted</label>
        <locationX>212</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Community_Guidlines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs to accept</defaultConnectorLabel>
        <rules>
            <name>Already_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Accepted_Community_Guidelines__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Guidlines</targetReference>
            </connector>
            <label>Already Accepted</label>
        </rules>
    </decisions>
    <formulas>
        <name>vAccepted</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Accepted_Community_Guidelines__c}</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Test Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Login Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>210</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_user_already_accepted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Accepted_Community_Guidelines__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>215</locationX>
        <locationY>443</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepted_Community_Guidelines_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accepted_Community_Guidelines__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Community_Guidlines</name>
        <label>Community Guidlines</label>
        <locationX>213</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>Guidlines</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Logo}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I understand &amp;amp; agree to follow the Solutionreach &lt;FONT COLOR=&quot;#0066FF&quot;&gt;&lt;A HREF=&quot;https://community.solutionreach.com/s/communityguidelines&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Community Guidelines&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Accept</name>
            <choiceReferences>I_accept</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Find_User</startElementReference>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
