src.1/flows/WinReport1-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ApexGetContactRoles</name>
        <label>ApexGetContactRoles</label>
        <locationX>360</locationX>
        <locationY>280</locationY>
        <actionName>SRInvocable_GetContactRoles</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>hasContacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varContactCollection</assignToReference>
            <name>contacts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ProcessWinReport</name>
        <label>ProcessWinReport</label>
        <locationX>812</locationX>
        <locationY>282</locationY>
        <actionName>SRInvocable_ProcessWinReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>goalsDefined</name>
            <value>
                <elementReference>What_goals_were_defined_with_the_customer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>involvement</name>
            <value>
                <elementReference>stringcollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>otherInformation</name>
            <value>
                <elementReference>Is_there_anything_else_we_should_know_about_the_customer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryBenefit</name>
            <value>
                <elementReference>Primary_Benefit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>competitors</name>
            <value>
                <elementReference>CompetitorField</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>competitorOther</name>
            <value>
                <elementReference>Other_Competitor_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignPurchaseInvolvement</name>
        <label>AssignPurchaseInvolvement</label>
        <locationX>741</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>stringIdToInvolvement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!varLoopContact.Id}:{!involvementChoice}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stringcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stringIdToInvolvement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Ready</name>
        <label>Not Ready</label>
        <locationX>86</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>varNotClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>notReady</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Closed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Decision_Maker</name>
        <choiceText>Decision Maker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decision Maker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Involved</name>
        <choiceText>Involved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Involved</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_Patients</name>
        <choiceText>More Patients</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More Patients</stringValue>
        </value>
    </choices>
    <choices>
        <name>More_Visits</name>
        <choiceText>More Visits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More Visits</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Reduce_No_Shows_Cancels</name>
        <choiceText>Reduce No Shows &amp; Cancels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reduce No Shows &amp; Cancels</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replace_Reschedule</name>
        <choiceText>Replace &amp; Reschedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replace &amp; Reschedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninvolved</name>
        <choiceText>Uninvolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninvolved</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>352</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed+Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>winReportComplete</targetReference>
            </connector>
            <label>Yes, Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_they_select_a_Primary_Benefit</name>
        <label>Did they select a Primary Benefit</label>
        <locationX>1007</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>ProcessWinReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Benefit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_Back</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasContacts</name>
        <label>hasContacts</label>
        <locationX>364</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>NoContactsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContacts</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>winReportComplete</name>
        <label>winReportComplete</label>
        <locationX>358</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>ApexGetContactRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>winReportComplete_false</defaultConnectorLabel>
        <rules>
            <name>winReportComplete_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>winReportCompletedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>winReportComplete_true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Competitors</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Role_Multi__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>WinReport1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WinReport1</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>642</locationX>
        <locationY>413</locationY>
        <assignNextValueToReference>varLoopContact</assignNextValueToReference>
        <collectionReference>varContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactInvolvment_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Survey</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <screens>
        <name>ContactInvolvment_0</name>
        <label>ContactInvolvment</label>
        <locationX>535</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPurchaseInvolvement</targetReference>
        </connector>
        <fields>
            <name>Header1_0</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the level of involvement in the &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;purchase process for the Contact listed below:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>contactInfoDisplay</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Name: {!varLoopContact.FirstName} {!varLoopContact.LastName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Role: &lt;FONT KERNING=&quot;1&quot;&gt;{!varLoopContact.Contact_Role_Multi__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>involvementChoice</name>
            <choiceReferences>Decision_Maker</choiceReferences>
            <choiceReferences>Involved</choiceReferences>
            <choiceReferences>Uninvolved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Level of Involvement&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>593</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>There has been an Error:
{!$Flow.FaultMessage}

Please create a ticket with this error.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>811</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishHeader</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>FinishedMessage</name>
            <fieldText>Thank you, the Win Report is complete, please click Finish to be redirected.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Go_Back</name>
        <label>Go Back</label>
        <locationX>1073</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey</targetReference>
        </connector>
        <fields>
            <name>ReturnHeader</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>GoBack</name>
            <fieldText>You need to make a selection for the Primary Benefit.  Please press the Previous button.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>NoContactsFound</name>
        <label>NoContactsFound</label>
        <locationX>178</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ApexGetContactRoles</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>NoContactRoles</name>
            <fieldText>There are no Contact Roles defined for this Opportunity.

Please add Contact Roles &lt;a href=&quot; /p/opp/ContactRoleEditUi/e?oppid={!varOpportunityId}&amp;retURL=/{!varOpportunityId}&quot;&gt;here&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Not_Closed</name>
        <label>Not Closed</label>
        <locationX>85</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotClosedScreenHeader</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>NotClosedWonMessage</name>
            <fieldText>This Opportunity is not ready for the Win Report.  Please make sure the Opportunity Stage is Closed Won.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Survey</name>
        <label>Survey</label>
        <locationX>884</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_they_select_a_Primary_Benefit</targetReference>
        </connector>
        <fields>
            <name>HeaderSurvey</name>
            <extensionName>c:WinReportHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Primary_Benefit</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>More_Patients</choiceReferences>
            <choiceReferences>More_Visits</choiceReferences>
            <choiceReferences>Reduce_No_Shows_Cancels</choiceReferences>
            <choiceReferences>Replace_Reschedule</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the primary benefit the customer is purchasing Solutionreach for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>CompetitorField</name>
            <choiceReferences>Competitors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What competitors was the customer using or evaluating?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Other_Competitor_Name</name>
            <dataType>String</dataType>
            <fieldText>Other Competitor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <isVisible>false</isVisible>
        </fields>
        <fields>
            <name>What_goals_were_defined_with_the_customer</name>
            <fieldText>What goals were defined with the customer?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Is_there_anything_else_we_should_know_about_the_customer</name>
            <fieldText>Is there anything else we should know about the customer?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompetitorField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <label>OtherCompetitor</label>
            <ruleActions>
                <attribute>isVisible</attribute>
                <fieldReference>Other_Competitor_Name</fieldReference>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </ruleActions>
            <ruleActions>
                <attribute>isRequired</attribute>
                <fieldReference>Other_Competitor_Name</fieldReference>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </ruleActions>
        </rules>
    </screens>
    <startElementReference>Closed_Won</startElementReference>
    <variables>
        <name>roleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringIdToInvolvement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stringToRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varLoopContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varNotClosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>winReportCompletedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
