src.1/flows/WorkRequest-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>1082</locationX>
        <locationY>688</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your request has been received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varUserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_Assignment</name>
        <label>Input Assignment</label>
        <locationX>681</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Category_Branch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Category_Branch</name>
        <label>Category Branch</label>
        <locationX>679</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Create_Work_item_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsBug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item</targetReference>
            </connector>
            <label>IsBug</label>
        </rules>
        <rules>
            <name>IsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update/Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item_0</targetReference>
            </connector>
            <label>IsUpdate</label>
        </rules>
        <rules>
            <name>IsFeatureRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Feature/Idea</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item_0_0</targetReference>
            </connector>
            <label>IsFeatureRequest</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistWorkCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>agf__ADM_Work__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>varUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WorkRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkRequest</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddFollower</name>
        <label>AddFollower</label>
        <locationX>1089</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varWorkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item</name>
        <label>Create Work item</label>
        <locationX>1080</locationX>
        <locationY>437</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>AddFollower</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varRed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0</name>
        <label>Create Work item</label>
        <locationX>900</locationX>
        <locationY>442</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>AddFollower</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varYellow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0_0</name>
        <label>Create Work item</label>
        <locationX>716</locationX>
        <locationY>445</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>AddFollower</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varBlue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0_0_0</name>
        <label>Create Work item</label>
        <locationX>505</locationX>
        <locationY>449</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>AddFollower</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varYellow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>499</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>We&#39;ve encountered an error.  Please try again.  If you continue to get this error please see your Administrator with the following error message:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1277</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>You have successfully submitted the following &lt;a href=&quot;https://solutionreach--agf.na56.visual.force.com/{!varWorkId}&quot;&gt;Work Request&lt;/a&gt;:

Subject: {!varSubject}
Category: {!varCategory}
Description:
{!varDescription}

We will keep you updated via email.  Please post to the Chatter feed on this &lt;a href=&quot;https://solutionreach--agf.na56.visual.force.com/{!varWorkId}&quot;&gt;Work Request&lt;/a&gt;: if you have any questions or updates.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>ViewOutput</name>
        <label>ViewOutput</label>
        <locationX>936</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ViewOutputValues</name>
            <fieldText>{!ouptut}

{!outputObject.agf__Details__c}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen</name>
        <label>Work Detail Screen</label>
        <locationX>682</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ViewOutput</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>picklistWorkCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <elementReference>varDescription</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>standardFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>varSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>a6Am0000000ENqm</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>WorkRequestComponent</name>
            <extensionName>c:WorkRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <outputParameters>
                <assignToReference>outputObject</assignToReference>
                <name>newRequest</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen_0</name>
        <label>Work Detail Screen</label>
        <locationX>462</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_Detail_Screen_1</targetReference>
        </connector>
        <fields>
            <name>WorkRequestComponent_0</name>
            <extensionName>c:WorkRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <outputParameters>
                <assignToReference>outputObject</assignToReference>
                <name>newRequest</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen_1</name>
        <label>Work Detail Screen</label>
        <locationX>285</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header</name>
            <extensionName>c:WorkRequestHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>testouput</name>
            <fieldText>{!outputObject}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>standardFileUpload_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>varSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>a6Am0000000ENqm</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Work_Detail_Screen_0</startElementReference>
    <textTemplates>
        <name>EmailMessage</name>
        <text>Your Work Request has been received and can be viewed here:

https://solutionreach--agf.na56.visual.force.com/{!varWorkId}

You will be notified of any updates through Chatter.  Please post any questions or updates on the Work Request Chatter feed.  

Thank you!</text>
    </textTemplates>
    <variables>
        <name>ouptut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
    <variables>
        <name>varBlue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDom</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varYellow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoq</stringValue>
        </value>
    </variables>
</Flow>
