src.1/flows/Work_Item_Creation-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Input_Assignment</name>
        <label>Input Assignment</label>
        <locationX>608</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>varSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Category_Branch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Category_Branch</name>
        <label>Category Branch</label>
        <locationX>829</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Create_Work_item_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsBug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item</targetReference>
            </connector>
            <label>IsBug</label>
        </rules>
        <rules>
            <name>IsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update/Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item_0</targetReference>
            </connector>
            <label>IsUpdate</label>
        </rules>
        <rules>
            <name>IsFeatureRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Feature/Idea</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_item_0_0</targetReference>
            </connector>
            <label>IsFeatureRequest</label>
        </rules>
    </decisions>
    <description>Creates a Work Item with Subject and Description</description>
    <dynamicChoiceSets>
        <name>picklistWorkCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>agf__ADM_Work__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Work Item Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Item Creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_item</name>
        <label>Create Work item</label>
        <locationX>1080</locationX>
        <locationY>437</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varRed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0</name>
        <label>Create Work item</label>
        <locationX>900</locationX>
        <locationY>442</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varYellow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0_0</name>
        <label>Create Work item</label>
        <locationX>716</locationX>
        <locationY>445</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varBlue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_item_0_0_0</name>
        <label>Create Work item</label>
        <locationX>505</locationX>
        <locationY>449</locationY>
        <assignRecordIdToReference>varWorkId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Color__c</field>
            <value>
                <elementReference>varYellow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Details__c</field>
            <value>
                <elementReference>varDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Product_Tag__c</field>
            <value>
                <stringValue>a5Q0Z000000R0a9UAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agf__Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>agf__ADM_Work__c</object>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>499</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>We&#39;ve encountered an error.  Please try again.  If you continue to get this error please see your Administrator with the following error message:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1080</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>You have successfully submitted the following Work Request:

Subject: {!varSubject}
Category: {!varCategory}
Description:
{!varDescription}

We will keep you updated via email.  Please post to the Chatter feed if you have any questions or updates.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen</name>
        <label>Work Detail Screen</label>
        <locationX>440</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_Assignment</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>picklistWorkCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <elementReference>varDescription</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <startElementReference>Work_Detail_Screen</startElementReference>
    <variables>
        <name>varBlue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDom</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varYellow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoq</stringValue>
        </value>
    </variables>
</Flow>
