src.1/flows/WorkRequest-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>PostChatterFiles</name>
        <label>PostChatterFiles</label>
        <locationX>195</locationX>
        <locationY>324</locationY>
        <actionName>SRUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>fileIds</name>
            <value>
                <elementReference>varFileIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectId</name>
            <value>
                <elementReference>outputObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>197</locationX>
        <locationY>473</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your request has been received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varUserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>picklistWorkCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>agf__ADM_Work__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>varUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WorkRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkRequest</label>
    <processType>Flow</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>407</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header3</name>
            <extensionName>c:WorkRequestHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>We&#39;ve encountered an error.  Please try again.  If you continue to get this error please see your Administrator with the following error message:

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>409</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header4</name>
            <extensionName>c:WorkRequestHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Success</name>
            <fieldText>You have successfully submitted the following &lt;a href=&quot;https://solutionreach--agf.na56.visual.force.com/{!outputObject.Id}&quot;&gt;Work Request&lt;/a&gt;:

Subject: {!outputObject.agf__Subject__c}
Category: {!outputObject.Category__c}
Description:
{!outputObject.agf__Details__c}

We will keep you updated via email.  Please post to the Chatter feed on this &lt;a href=&quot;https://solutionreach--agf.na56.visual.force.com/{!outputObject.Id}&quot;&gt;Work Request&lt;/a&gt;: if you have any questions or updates.</fieldText>
            <fieldType>DisplayText</fieldType>
            <isVisible>true</isVisible>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen_0</name>
        <label>Work Detail Screen</label>
        <locationX>196</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Work_Detail_Screen_1</targetReference>
        </connector>
        <fields>
            <name>WorkRequestComponent_0</name>
            <extensionName>c:WorkRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <outputParameters>
                <assignToReference>outputObject</assignToReference>
                <name>newRequest</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>Work_Detail_Screen_1</name>
        <label>Work Detail Screen</label>
        <locationX>199</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PostChatterFiles</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <extensionName>c:WorkRequestHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>standardFileUpload_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload any screenshots/examples</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>outputObject.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <isVisible>true</isVisible>
            <outputParameters>
                <assignToReference>varFileIdCollection</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
    </screens>
    <startElementReference>Work_Detail_Screen_0</startElementReference>
    <textTemplates>
        <name>EmailMessage</name>
        <text>Your Work Request has been received and can be viewed here:

https://solutionreach--agf.na56.visual.force.com/{!varWorkId}

You will be notified of any updates through Chatter.  Please post any questions or updates on the Work Request Chatter feed.  

Thank you!</text>
    </textTemplates>
    <variables>
        <name>ouptut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
    <variables>
        <name>varBlue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDom</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFileIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoo</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varYellow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0m0Z00000DLDoq</stringValue>
        </value>
    </variables>
</Flow>
